In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [49]:
file = '../dataframes/enh_norm.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,aire_acond,antiguedad,bano_comp,bano_excus,bano_regad,bomba_agua,calefacc,calentador,chimenea,...,tot_hom,tot_integ,tot_muj,celular,tel_fijo,tv_paga,año,CVE_ENT,CVE_MUN,CVE_LOC
0,0,0.813826,0.902894,0.060193,0.000000,0.0,0.236157,0.979069,0.26074,0.97049,...,0.090289,0.120386,0.030096,0.333376,0.375047,0.431993,1,1,1,1
1,1,0.813826,0.890871,0.059391,0.000000,0.0,0.236157,0.979069,0.26074,0.97049,...,0.059391,0.178174,0.118783,0.666624,0.375047,0.431993,1,1,1,1
2,2,0.813826,0.958265,0.045632,0.000000,0.0,0.236157,0.979069,0.73926,0.97049,...,0.068447,0.091263,0.022816,0.333376,0.375047,0.431993,2,1,1,1
3,3,0.813826,0.950869,0.045279,0.000000,0.0,0.236157,0.979069,0.73926,0.97049,...,0.045279,0.135838,0.090559,0.666624,0.375047,0.431993,2,1,1,1
4,4,0.813826,0.708681,0.054514,0.027257,0.0,0.236157,0.979069,0.26074,0.97049,...,0.081771,0.109028,0.027257,0.333376,0.375047,0.568007,1,1,1,1

In [50]:
df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [51]:
df.head()

,aire_acond,antiguedad,bano_comp,bano_excus,bano_regad,bomba_agua,calefacc,calentador,chimenea,cisterna,...,tot_hom,tot_integ,tot_muj,celular,tel_fijo,tv_paga,año,CVE_ENT,CVE_MUN,CVE_LOC
0,0.813826,0.902894,0.060193,0.000000,0.0,0.236157,0.979069,0.26074,0.97049,0.194518,...,0.090289,0.120386,0.030096,0.333376,0.375047,0.431993,1,1,1,1
1,0.813826,0.890871,0.059391,0.000000,0.0,0.236157,0.979069,0.26074,0.97049,0.194518,...,0.059391,0.178174,0.118783,0.666624,0.375047,0.431993,1,1,1,1
2,0.813826,0.958265,0.045632,0.000000,0.0,0.236157,0.979069,0.73926,0.97049,0.194518,...,0.068447,0.091263,0.022816,0.333376,0.375047,0.431993,2,1,1,1
3,0.813826,0.950869,0.045279,0.000000,0.0,0.236157,0.979069,0.73926,0.97049,0.194518,...,0.045279,0.135838,0.090559,0.666624,0.375047,0.431993,2,1,1,1
4,0.813826,0.708681,0.054514,0.027257,0.0,0.236157,0.979069,0.26074,0.97049,0.194518,...,0.081771,0.109028,0.027257,0.333376,0.375047,0.568007,1,1,1,1

In [52]:
df_copy = df.copy()

In [53]:
categoricos = ['aire_acond', 'bomba_agua', 'calefacc', 'calentador', 'chimenea', 'cisterna', 'cocina', 'combustible', 'computador', 'const_bano', 'const_coci', 'const_dorm', 'disp_agua', 'disp_elect', 'dotac_agua', 'drenaje', 'eli_basura', 'est_socio', 'excusado', 'fregadero', 'internet', 'lavadero', 'mat_pared', 'mat_pisos', 'mat_techos', 'medidor_luz', 'pileta', 'regadera', 'repar_agua', 'repar_cabl', 'repar_dren', 'repar_pard', 'repar_tech', 'sanit_agua', 'tam_loc', 'tanque_gas', 'tenencia', 'tinaco_azo', 'tipo_viv', 'uso_compar', 'celular', 'tel_fijo', 'tv_paga']
categoricos

['aire_acond',
 'bomba_agua',
 'calefacc',
 'calentador',
 'chimenea',
 'cisterna',
 'cocina',
 'combustible',
 'computador',
 'const_bano',
 'const_coci',
 'const_dorm',
 'disp_agua',
 'disp_elect',
 'dotac_agua',
 'drenaje',
 'eli_basura',
 'est_socio',
 'excusado',
 'fregadero',
 'internet',
 'lavadero',
 'mat_pared',
 'mat_pisos',
 'mat_techos',
 'medidor_luz',
 'pileta',
 'regadera',
 'repar_agua',
 'repar_cabl',
 'repar_dren',
 'repar_pard',
 'repar_tech',
 'sanit_agua',
 'tam_loc',
 'tanque_gas',
 'tenencia',
 'tinaco_azo',
 'tipo_viv',
 'uso_compar',
 'celular',
 'tel_fijo',
 'tv_paga']

In [54]:
numericos = []

for row in df_copy.columns:
    if row not in categoricos:
        if (row != 'CVE_MUN') & (row != 'CVE_LOC') & (row != 'CVE_ENT') & (row != 'año') :
#            print(row)
            numericos.append(row)
            
numericos

['antiguedad',
 'bano_comp',
 'bano_excus',
 'bano_regad',
 'cuart_dorm',
 'focos_ahor',
 'focos_inca',
 'num_cuarto',
 'tot_hog',
 'tot_hom',
 'tot_integ',
 'tot_muj']

In [56]:
df.aire_acond.value_counts()

0.813826    207467
0.186174     47461
Name: aire_acond, dtype: int64

In [57]:
df.aire_acond.mode()

0    0.813826
dtype: float64

In [61]:
#f = {df_copy[categoricos]:['prod'], df_copy[numericos]:['mean']}

f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[categoricos].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[numericos].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'aire_acond': <function __main__.<lambda>(x)>,
 'antiguedad': 'mean',
 'bano_comp': 'mean',
 'bano_excus': 'mean',
 'bano_regad': 'mean',
 'bomba_agua': <function __main__.<lambda>(x)>,
 'calefacc': <function __main__.<lambda>(x)>,
 'calentador': <function __main__.<lambda>(x)>,
 'chimenea': <function __main__.<lambda>(x)>,
 'cisterna': <function __main__.<lambda>(x)>,
 'cocina': <function __main__.<lambda>(x)>,
 'combustible': <function __main__.<lambda>(x)>,
 'computador': <function __main__.<lambda>(x)>,
 'const_bano': <function __main__.<lambda>(x)>,
 'const_coci': <function __main__.<lambda>(x)>,
 'const_dorm': <function __main__.<lambda>(x)>,
 'cuart_dorm': 'mean',
 'disp_agua': <function __main__.<lambda>(x)>,
 'disp_elect': <function __main__.<lambda>(x)>,
 'dotac_agua': <function __main__.<lambda>(x)>,
 'drenaje': <function __main__.<lambda>(x)>,
 'eli_basura': <function __main__.<lambda>(x)>,
 'est_socio': <function __main__.<lambda>(x)>,
 'excusado': <function __main__.<lambda>(x)>,
 'focos_ahor': 'mean',
 'focos_inca': 'mean',
 'fregadero': <function __main__.<lambda>(x)>,
 'internet': <function __main__.<lambda>(x)>,
 'lavadero': <function __main__.<lambda>(x)>,
 'mat_pared': <function __main__.<lambda>(x)>,
 'mat_pisos': <function __main__.<lambda>(x)>,
 'mat_techos': <function __main__.<lambda>(x)>,
 'medidor_luz': <function __main__.<lambda>(x)>,
 'num_cuarto': 'mean',
 'pileta': <function __main__.<lambda>(x)>,
 'regadera': <function __main__.<lambda>(x)>,
 'repar_agua': <function __main__.<lambda>(x)>,
 'repar_cabl': <function __main__.<lambda>(x)>,
 'repar_dren': <function __main__.<lambda>(x)>,
 'repar_pard': <function __main__.<lambda>(x)>,
 'repar_tech': <function __main__.<lambda>(x)>,
 'sanit_agua': <function __main__.<lambda>(x)>,
 'tam_loc': <function __main__.<lambda>(x)>,
 'tanque_gas': <function __main__.<lambda>(x)>,
 'tenencia': <function __main__.<lambda>(x)>,
 'tinaco_azo': <function __main__.<lambda>(x)>,
 'tipo_viv': <function __main__.<lambda>(x)>,
 'tot_hog': 'mean',
 'uso_compar': <function __main__.<lambda>(x)>,
 'tot_hom': 'mean',
 'tot_integ': 'mean',
 'tot_muj': 'mean',
 'celular': <function __main__.<lambda>(x)>,
 'tel_fijo': <function __main__.<lambda>(x)>,
 'tv_paga': <function __main__.<lambda>(x)>}

In [63]:
grouped = df_copy.groupby(by=['CVE_ENT', 'CVE_MUN', 'CVE_LOC']).agg(f)

In [64]:
grouped.head()

                         aire_acond  antiguedad  bano_comp  bano_excus  \
CVE_ENT CVE_MUN CVE_LOC
1       1       1          0.813826    0.820862   0.056545    0.008056
                126        0.813826    0.844455   0.048298    0.000000
                138        0.813826    0.870777   0.037380    0.013354
                144        0.813826    0.855157   0.020281    0.036133
                162        0.813826    0.702982   0.072034    0.020101

                         bano_regad  bomba_agua  calefacc  calentador  \
CVE_ENT CVE_MUN CVE_LOC
1       1       1          0.000271    0.763843  0.979069     0.73926
                126        0.000000    0.763843  0.979069     0.26074
                138        0.000000    0.763843  0.979069     0.73926
                144        0.004544    0.763843  0.979069     0.73926
                162        0.000000    0.763843  0.979069     0.73926

                         chimenea  cisterna    ...     tinaco_azo  tipo_viv  \
CVE_ENT CVE_MUN CVE_LOC                        ...
1       1       1         0.97049  0.805482    ...       0.560743  0.954603
                126       0.97049  0.805482    ...       0.560743  0.954603
                138       0.97049  0.805482    ...       0.560743  0.954603
                144       0.97049  0.805482    ...       0.560743  0.954603
                162       0.97049  0.805482    ...       0.560743  0.954603

                          tot_hog  uso_compar   tot_hom  tot_integ   tot_muj  \
CVE_ENT CVE_MUN CVE_LOC
1       1       1        0.047569    0.953607  0.085002   0.172778  0.087777
                126      0.048298    0.953607  0.114884   0.207487  0.092603
                138      0.050198    0.953607  0.089513   0.175546  0.086032
                144      0.054861    0.953607  0.103453   0.216044  0.112591
                162      0.072034    0.953607  0.114290   0.253071  0.138782

                          celular  tel_fijo   tv_paga
CVE_ENT CVE_MUN CVE_LOC
1       1       1        0.666624  0.624953  0.568007
                126      0.666624  0.624953  0.431993
                138      0.333376  0.624953  0.568007
                144      0.333376  0.624953  0.431993
                162      0.666624  0.624953  0.431993

[5 rows x 55 columns]

In [65]:
grouped.shape

(5677, 55)

In [67]:
grouped_copy = grouped.copy()

In [68]:
grouped_copy.reset_index(inplace=True)
grouped_copy.columns

Index(['CVE_ENT', 'CVE_MUN', 'CVE_LOC', 'aire_acond', 'antiguedad',
       'bano_comp', 'bano_excus', 'bano_regad', 'bomba_agua', 'calefacc',
       'calentador', 'chimenea', 'cisterna', 'cocina', 'combustible',
       'computador', 'const_bano', 'const_coci', 'const_dorm', 'cuart_dorm',
       'disp_agua', 'disp_elect', 'dotac_agua', 'drenaje', 'eli_basura',
       'est_socio', 'excusado', 'focos_ahor', 'focos_inca', 'fregadero',
       'internet', 'lavadero', 'mat_pared', 'mat_pisos', 'mat_techos',
       'medidor_luz', 'num_cuarto', 'pileta', 'regadera', 'repar_agua',
       'repar_cabl', 'repar_dren', 'repar_pard', 'repar_tech', 'sanit_agua',
       'tam_loc', 'tanque_gas', 'tenencia', 'tinaco_azo', 'tipo_viv',
       'tot_hog', 'uso_compar', 'tot_hom', 'tot_integ', 'tot_muj', 'celular',
       'tel_fijo', 'tv_paga'],
      dtype='object')

In [70]:
grouped_copy.head()

,CVE_ENT,CVE_MUN,CVE_LOC,aire_acond,antiguedad,bano_comp,bano_excus,bano_regad,bomba_agua,calefacc,...,tinaco_azo,tipo_viv,tot_hog,uso_compar,tot_hom,tot_integ,tot_muj,celular,tel_fijo,tv_paga
0,1,1,1,0.813826,0.820862,0.056545,0.008056,0.000271,0.763843,0.979069,...,0.560743,0.954603,0.047569,0.953607,0.085002,0.172778,0.087777,0.666624,0.624953,0.568007
1,1,1,126,0.813826,0.844455,0.048298,0.000000,0.000000,0.763843,0.979069,...,0.560743,0.954603,0.048298,0.953607,0.114884,0.207487,0.092603,0.666624,0.624953,0.431993
2,1,1,138,0.813826,0.870777,0.037380,0.013354,0.000000,0.763843,0.979069,...,0.560743,0.954603,0.050198,0.953607,0.089513,0.175546,0.086032,0.333376,0.624953,0.568007
3,1,1,144,0.813826,0.855157,0.020281,0.036133,0.004544,0.763843,0.979069,...,0.560743,0.954603,0.054861,0.953607,0.103453,0.216044,0.112591,0.333376,0.624953,0.431993
4,1,1,162,0.813826,0.702982,0.072034,0.020101,0.000000,0.763843,0.979069,...,0.560743,0.954603,0.072034,0.953607,0.114290,0.253071,0.138782,0.666624,0.624953,0.431993

In [72]:
grouped_copy.shape

(5677, 58)

In [73]:
grouped_copy.to_csv('enh_grouped.csv')