In [1]:
import pandas as pd
import numpy as np

In [2]:
file = '../dataframes/hogares.csv'
df_h = pd.read_csv(file, encoding='latin')
df_h.head()

,Unnamed: 0,adqui_pc,cel_hogar,celular,chofer,cocinero,compu_uso,compu_uso2,conex_int1,conex_int2,...,tiempo_pc,tot_hom,tot_integ,tot_muj,trabaja_do,tv_analogi,tv_digital,tv_paga,videojuego,year
0,0,-1,-1,2,-1,-1,1,-1,2,1,...,2,3,4,1,-1,1,1,2,2,2014
1,1,-1,-1,2,-1,-1,1,-1,2,1,...,2,3,4,1,-1,2,1,1,1,2014
2,2,-1,-1,1,-1,-1,1,-1,2,1,...,2,1,2,1,-1,1,2,1,2,2014
3,3,-1,-1,1,-1,-1,1,-1,2,1,...,3,2,6,4,-1,1,2,1,2,2014
4,4,-1,-1,2,-1,-1,2,2,-1,-1,...,-1,2,4,2,-1,1,2,2,2,2014

In [3]:
file = '../dataframes/viviendas.csv'
df_v = pd.read_csv(file, encoding='latin')
df_v.head()

,Unnamed: 0,ageb,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,anio_panel,anio_res,antiguedad,...,tot_hog,tot_resid,tv_paga,ubica_geo,upm,uso_compar,valor_viv,vend_hered,viv_usada,year
0,0,029-0,2,-1,-1,-1,-1,-1,-1,30,...,1,4,-1,10010001,710,2,-1,-1,-1,2014
1,1,029-0,2,-1,-1,-1,-1,-1,-1,26,...,1,4,-1,10010001,710,2,-1,-1,-1,2014
2,2,029-0,2,-1,-1,-1,-1,-1,-1,23,...,1,2,-1,10010001,710,2,-1,-1,2,2014
3,3,029-0,2,-1,-1,-1,-1,-1,-1,10,...,1,6,-1,10010001,710,2,-1,-1,-1,2014
4,4,030-3,2,-1,-1,-1,-1,-1,-1,-1,...,1,4,-1,10010001,1450,2,-1,-1,1,2014

In [4]:
df_h_copy = df_h.copy()

In [5]:
df_v_copy = df_v.copy()

## Merge

In [222]:
df_inner = pd.merge(left=df_v_copy, right=df_h_copy, how='inner', on='folioviv')
df_inner.head()

,Unnamed: 0_x,ageb,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,anio_panel,anio_res,antiguedad,...,tiempo_pc,tot_hom,tot_integ,tot_muj,trabaja_do,tv_analogi,tv_digital,tv_paga_y,videojuego,year_y
0,0,029-0,2,-1,-1,-1,-1,-1,-1,30,...,2,3,4,1,-1,1,1,2,2,2014
1,0,029-0,2,-1,-1,-1,-1,-1,-1,30,...,-1,2,6,4,-1,1,2,2,-1,2015
2,19,029-0,2,-1,-1,-1,-1,-1,-1,42,...,2,3,4,1,-1,1,1,2,2,2014
3,19,029-0,2,-1,-1,-1,-1,-1,-1,42,...,-1,2,6,4,-1,1,2,2,-1,2015
4,1,029-0,2,-1,-1,-1,-1,-1,-1,26,...,2,3,4,1,-1,2,1,1,1,2014

In [223]:
df_inner.shape

(254928, 193)

In [224]:
df_h.shape

(220871, 59)

In [225]:
df_v.shape

(217147, 135)

In [226]:
df_inner.columns[df_inner.isnull().any()].tolist()

[]

In [227]:
for line in df_inner.columns:
    print(line, ' : ', df_inner[line].unique(), '\n')

Unnamed: 0_x  :  [    0    19     1 ..., 58592 58593 58594]

ageb  :  ['029-0' '030-3' '034-1' ..., '252-0' '144-7' '256-9']

aire_acond  :  [2 1]

ais_otro  :  [-1  2  9  1]

ais_pared  :  [-1  2  9  1]

ais_techos  :  [-1  2  9  1]

ais_ventan  :  [-1  2  9  1]

anio_panel  :  [  -1 2015 2014 2010 2006 2007 2002 2001 2012 2005 2008 2016 2013 2009 2011
 2004 2017]

anio_res  :  [-1  1  6  0 10  2  8 11  3 12 32  7 30  5 19  4 23  9 14 13 15 22 21 60 18
 28 16 17 20 25 40 50 35 29 44 47 27 39 26 36 45 61 42 37]

antiguedad  :  [30 42 26 20 23 16 10 -1 40 33 35 36 50 34 43 45 78  3 60 28 70 39 32 25 15
 56 80 99 69 47 46 41 14 24 12 44 19 55 27  9  7 22 29  4 31 13  8  2  5  6
 37 38  1 18 11 21 17 48 90 65 52  0 64 54 53 84 95 72 74 49 51 75 63 58 73
 62 68 67 89 86 57 59 66 83 92 81 77 98 71 85 79 94 76 87 97 88 82 61 91 93
 96]

auto_pick  :  [-1  1  2]

bano_comp  :  [ 2  3  4  1  0  5 -1  6  8  7  9]

bano_excus  :  [ 0  1  2  3 -1  9  8  4  6  5]

bano_regad  :  [ 0  1 -1  3  2  9  8  4  6  5]

bomba_agua  :  [1 2]

calefacc  :  [2 1]

calent_gas  :  [-1  1  2]

calent_sol  :  [-1  1  2]

calentador  :  [ 1  2 -1]

celular_x  :  [-1  1  2]

chimenea  :  [2 1]

cisterna  :  [1 2]

cocina  :  [1 2]

cocina_dor  :  [ 2  1 -1]

combustible  :  [ 3  4  1  6  5  2 -1]

computador  :  [-1  2  1]

comun1  :  [-1  1  2]

comun10  :  [-1  2  1]

comun11  :  [-1  2  1]

comun12  :  [-1  2  1]

comun13  :  [-1  2  1]

comun14  :  [-1  2  1]

comun15  :  [-1  2  1]

comun16  :  [-1  2  1]

comun17  :  [-1  1  2]

comun2  :  [-1  1  2]

comun3  :  [-1  1  2]

comun4  :  [-1  2  1]

comun5  :  [-1  2  1]

comun6  :  [-1  2  1]

comun7  :  [-1  2  1]

comun8  :  [-1  2  1]

comun9  :  [-1  1  2]

condominio  :  [-1  4  3  5  2  6  7  8 13 11 12  9 14 10 16 15 22 24 23]

const_bano  :  [2 1]

const_coci  :  [2 1]

const_dorm  :  [2 1]

const_neg  :  [-1  2  1]

cuart_dorm  :  [ 3  4  2  1  5  6  7  8 10  9 11 15]

disp_agua  :  [1 2 4 5 3 6]

disp_elect  :  [1 5 2 4 3]

dispos_ne  :  [-1  9]

dispos_nh1  :  [-1  1]

dispos_nh2  :  [-1  1  2]

dispos_no1  :  [-1  1  2  3  4]

dispos_no2  :  [-1  1  2  4  3]

dotac_agua  :  [ 1  2 -1  3  4  5]

drenaje  :  [1 2 5 4 3]

elevador  :  [-1  2  1]

eli_basura  :  [3 1 4 5 2 6 7 8]

escrituras  :  [ 1 -1  3  2  4  9  5]

est_dis  :  [  9   5   2   8   4   3   6  10   7   1  13  14  12  11  23  22  21  17
  16  18  15  19  20  29  28  30  27  25  24  26  37  36  38  32  31  34
  44  43  42  39  41  40  52  50  51  46  45  48  47  58  57  59  54  53
  56  55  62  61  63  60  69  68  70  67  64  66  65  77  76  78  75  71
  72  74  73  83  84  82  80  79  81  91  90  92  86  87  88  99 100  98
  93  94  96  95 106 107 108 101 102 103 104 115 114 116 110 111 109 112
 113  33 122 123 124 118 117 120 119 130  35 129 131 125 126 128 127 136
 138 137 132 134 145 144 140 139 146 142 141 153 154 152 148 147 149 150
 160 159 161 156 155 157 158 166 167 168 165 162 163 176 175 177 170 171
 169 173 172 183  49 184 182 178 179 181 180 192 189 191 190 185 186 188
 187 198 199 200 194 195 193 196 197 206 207 205 208 201 202 204 214 213
 215 210 212 222 223 224 221 217 216 219 220 231 230 232 229 225 226 227
 228 238 237 239 234 233 236 235  85  89  97 105 121 135 133 143 151 164
 174 203 209 211 218 245 246 247 244 240 248 241 249 242 243 256 257 258
 250 251 253 252 254 255 265 264 266 259 260 261 263 262 274 273 275 272
 267 268 269 271 270 284 282 283 276 277 279 278 285 280 281 292 293 294
 291 295 296 287 286 288 290 289 302 303 304 297 305 306 298 299 307 308
 301 300 315 316 314 309 317 318 311 319 310 312 313 328 327 329 326 321
 331 332 330 320 322 323 333 324 325 340 339 341 334 335 336 338 337]

est_socio  :  [3 2 4 1]

estaciona  :  [-1  3  2  1  8  4 10  6  5  7  9]

estufa_chi  :  [-1  2  1]

excusado  :  [1 2]

factor  :  [  -1  178  203 ..., 1774 1956 1102]

factor_viv  :  [ 243  169  262 ..., 1731 1953 1228]

facul_ne  :  [-1  9]

facul_nh1  :  [-1  1]

facul_nh2  :  [-1  1  2]

facul_no1  :  [-1  2  1  4  3]

facul_no2  :  [-1  1  2  3  4]

familiar  :  [-1  2  1]

financia_1  :  [-1  1]

financia_2  :  [-1  2]

financia_3  :  [-1  3]

financia_4  :  [-1  4]

financia_5  :  [-1  5]

financia_6  :  [-1  6]

financia_7  :  [-1  7]

financia_8  :  [-1  8]

focos_ahor  :  [ 8  6 23 26 14 38 30  0 11  9  1  4 20  7 13  5 10 18 12  3  2 15 19 32 16
 21 25 75 50 17 -1 24 36 48 35 40 22 34 28 60 33 27 70 90 64 37 31 29 41 42
 44 49 45 99 52 98 92 43 65 96 39 53 47 55 58 62 82 63 46 80 74 57 56 51 88
 66 54 77 61 95 76]

focos_inca  :  [ 8  0 12  4  1 13  6  5  7  3  2 49 10  9 50 15 14 -1 11 99 24 19 17 30 18
 25 16 20 22 21 60 98 40 28 33 29 70 65 23 34 39 26 32 42 27 35 31 80 45 38
 75 36 46 78 90 37 91]

folioviv  :  [  10001801   10001803   10001804 ..., 3260737208 3260737210 3260737211]

fregadero  :  [1 2]

hog_dueno1  :  [ 1 -1  2  3  4  5]

hog_dueno2  :  [-1  1  2  3]

internet  :  [-1  1  2]

lavadero  :  [1 2]

mat_pared  :  [8 7 1 3 6 2 5 4]

mat_pisos  :  [ 3  2  1 -1]

mat_techos  :  [9 3 4 6 7 8 2 1 5]

medidor_luz  :  [1 2]

mes_res  :  [-1  8  0  6  7  3 11  1  5  2  9 10  4]

num_cuarto  :  [ 6  9 10  5  7  4  8  3  2 12  1 11 14 13 16 15 17 18 22 20 19]

num_dueno1  :  [ 1 -1  3  2  4  6  7  5 15  8  9 11 10 13]

num_dueno2  :  [-1  2  3  1  4  5  6  7 12  9  8 14]

pago_renta  :  [   -1  2000   800  1000  1200  1300  1600   950   700   500  2500  3000
  2200  4000  1500  1800  1700  2900  3800  3750  2650 21000  2300  1100
  3500  1250   200   450   900  1400   600  5000  4500  1150  2700  7000
   850  3300  6000   400   750   100   250  5900  2800  3400  9000  8000
  3600 12600  5400  5500  1750  1900  2600  5200  8400  2100  3700  6500
  1650  4300  4200  3900  6600   650   350   300   550 21600 20000 18000
 23000 15000 13000  1350  4600 20009  7500 22500  3200 11500 12000 10000
   480   440  2400  7300  4800  8800    13   474   740 11000  1050  9999
  1550  2750  1850  5600   730    10  2250  5650 18900 24000  2450   125
 85000 16500 13500  9800  6400 14400  6300 19000 13600 13700  7200  9200
 14000  8500  6100  4100 53550 13400 25000 25500 26000 50000  4250  1070
  1450  4700  1040   660   870  1460  1950  8080 17400  5700  5300  6450
  6700  1130    98  1620  1190  1060   560  2220  3650  3100   580 10500
   635  1660  1310  2630   840 16000 40000  2850   275     0  5275  9500
   120   380 10600  5800 30000  2350  2150  9600 12500  6800   150  4150
  3850  1360  4125  2175 17000   910   573    50  3250   760   999 45000
  5250 10800  4350  6125  3252   980   460   670  1020   680  6200 35000
 22000  7800 10200  7100  6150  5130 38000 36000 31000  1880  3050   925
 15500  2550  3150  7600  8750   470  8300  1920     1  5150  5100 13200
  8250 14500   430  6250  1085  4400  1509   920  7400   675   830    41
   555   240   880   970   710]

panel_ne  :  [-1  9]

pileta  :  [2 1]

pot_panel  :  [-1  2  1]

potencia  :  [ -1 999 135  12 800 230 250 150  60  75  14 129  13 120 200 100 110  24
  15  70  20  40   2  50 750 600  80   8 400 103  65  45 130  90 500  30
 145   4  55  51  62 220 300 210]

rega_elect  :  [-1  2  1]

regadera  :  [1 2]

ren_estufa  :  [-1  2  1]

ren_horno  :  [-1  2  1]

ren_lavad  :  [-1  2  1]

ren_planch  :  [-1  2  1]

ren_refri  :  [-1  2  1]

ren_tv  :  [-1  2  1]

repar_agua  :  [2 1]

repar_cabl  :  [2 1]

repar_dren  :  [2 1]

repar_pard  :  [2 1]

repar_tech  :  [2 1]

sanit_agua  :  [ 1  2 -1  3]

tam_loc  :  [1 2 3 4]

tanque_gas  :  [1 2]

tel_fijo_x  :  [-1  2  1]

tenencia  :  [4 2 1 5 3 6]

tinaco_azo  :  [1 2]

tipo_adqui  :  [ 2 -1  1  3  4  5  6  7  8]

tipo_finan  :  [ 5 -1  2  1  4  3]

tipo_viv  :  [ 1  3  5  2 -1  4]

tot_hog  :  [1 2 3 4 5]

tot_resid  :  [ 4  6  2  3  1  5  7  8 10  9 11 15 14 12 16 13 20 19 17 22 24 -1 21 25 18]

tv_paga_x  :  [-1  1  2]

ubica_geo  :  [ 10010001  10030001  10050001 ..., 320540074 320550088 320550011]

upm  :  [ 710   50 1450 ..., 8101 8102 8103]

uso_compar  :  [ 2  1 -1]

valor_viv  :  [-1  9  4  5  6  3  2  7  1]

vend_hered  :  [-1  1  2]

viv_usada  :  [-1  2  1  9]

year_x  :  [2014 2015 2016 2017]

Unnamed: 0_y  :  [    0    19     1 ..., 59511 59512 59513]

adqui_pc  :  [-1  1  2  3  4  9]

cel_hogar  :  [-1  2  1  9]

celular_y  :  [ 2  1 -1  9]

chofer  :  [-1  2  1]

cocinero  :  [-1  2  1]

compu_uso  :  [ 1  2 -1]

compu_uso2  :  [-1  2  1]

conex_int1  :  [ 2  1 -1  9]

conex_int2  :  [ 1  2 -1  9]

conex_int3  :  [ 2 -1  1  9]

conex_int4  :  [ 2 -1  1  9]

conex_int5  :  [ 2 -1  1  9]

conex_int6  :  [ 2 -1  1  9]

conex_int7  :  [ 2 -1  1  9]

conex_inte  :  [ 1  2  9 -1]

cuid_perso  :  [-1  1  2]

edad_tra10  :  [-1  0]

edad_trab1  :  [-1 18 25 30 24 40 45 16 22 59 27 51 28 19 23 80 20 21 42 17 29 34 26 46 39
 53 52 72 60 54 67 48 32 37 68 33 50 36 38 43 35 41 31 58 55 56 44 49 70 64
 62 57 63 47 73 77 88 65]

edad_trab2  :  [-1 30 19 22  0 18 23 20 51 25 27 60 10 32 26  1 58  7 40 35 14 41 21  8 28
 17 24 50 55 36 64 37 42 63 48 52 31 65 45  6 38 15  2]

edad_trab3  :  [-1 32  8 50  2 58 18 43  4 23 15 40 51  0 21 33 38 55 13  6]

edad_trab4  :  [-1  4 46  9 45  0 29]

edad_trab5  :  [-1 33  0]

edad_trab6  :  [-1  9  0]

edad_trab7  :  [-1  0]

edad_trab8  :  [-1  0]

edad_trab9  :  [-1  0]

factor_hog  :  [ 243  169  262 ..., 1953 1228 1371]

fija_movil  :  [-1  1  2  3  9]

foliohog  :  [1 2 3 4 5]

forma_pago  :  [-1  1  2  9]

huesp_come  :  [-1  0  3  1  2]

huespedes  :  [0 3 1 2 5]

inte_12mes  :  [-1]

jardinero  :  [-1  2  1]

lavandero  :  [-1  2  1]

linea_cel  :  [-1  2  1]

linea_com  :  [-1  1  2]

lugar_inte  :  [-1  1  6  5  4  3  2]

monto_pc  :  [   -1  6000 15000  4500  9000  5000  3000  1500  2600 12000  8000 10000
  4000  7000 13000  7300  1300  3500  2500   800 11000  6500  1200 14000
  3700 27000  4800  2000 25000  2200  3800 17000  1400  1600  4300 20000
  2400  1000  7500 10500 18000   700   900  3200 37000  8900  8800  1700
  5600  1800 12500  4700   680  6700 13500   500 16000  4600  5300  8700
 32000 11400  1100  1900   350   250  7200   950 22000  2800  5500 11200
  8500  5900  5200  3300  2700   850  5250  9500  5400  2900 19000   600
  3600   100   400  9800  2300 23000 26000 12800  3900   300  4900  5800
 39000 11600  9600 19800 11500 28000  7600 21000 24000  4400  7800 60000
 10050  6200   980  4250  1583  7250  5700  5100  3400 12300 13600  7400
  5950  9700  2830  2100   200  1750  5999  8400  4200 17500 33000  6800
  1060 10280 30000 35000  2999  4320 10700 14250  7700  6300 10300 15200
  8600 10800  7900 12400  4750  6900 12700 14800 13900  9300  4550 11100
  2149 50000  4990 45000 40000  8217  6600 24500 10200  8200 17900  5850
 36000   799  6400  1550  1350  9999 14300  3100  5660 16800  1150  1562
  1199  2250   750  6999  9400  1490 10400   550 29000  7989  1450   580
  3870   885 15600 80000  1235   890 13700  9900  8999  4150  2749  8750
  9100   690 18500 14400  3350 74000 14500  1050  3480  4999  5890  5499
 16100  6460  9200 14600 12200   999   450  9670  8550  3875 11340  8300
  1250 34000 13800  3750  5760  3250  8360  2579  2540  6250  5260  4599
  7620  1040 18800 21600  2475  5688  3640 31000  1990  1999  1920   659
  3999  9250 16500 17800 10900 14700 23600  6850 12753 10089 18900 23500
 17600  5995    50  2150  1699 11800  7550   570 11700  4299  2790 12270
   650    10 11300 43000   180   240 11900  2520  7499  1006   780   968
   960  7680  7100 52000  2120  1130   930  2072 23400   720 15500  7999
  4100 31500  5550  3375  1968  1950  4725  2142  2630  4350  4080  2376
  3174  6350  9520  5070   790  2740  1560  5350  3450]

no_compu  :  [-1  1  3  2  4  5  9]

no_internt  :  [-1  1  2  3  5  4  6]

num_trab_d  :  [ 0  1  3  2  4  6 -1]

pago_inter  :  [ 1 -1  2  3  5  4]

pago_pc  :  [ 2 -1  9  1]

pc_nueva  :  [-1  1  2  9]

radio  :  [ 1  2  9 -1]

tel_fijo_y  :  [ 1  2 -1  9]

tiempo_pc  :  [ 2 -1  4  3  1  9]

tot_hom  :  [ 3  2  4  1  0  5  6  7  8 11  9 13 10 12]

tot_integ  :  [ 4  6  2  3  1  5  7  8 10 11  9 12 15 16 14 13 20 17 24 22 19 18]

tot_muj  :  [ 1  4  2  3  5  0  7  6 10  8  9 13 11 12]

trabaja_do  :  [-1  1  2]

tv_analogi  :  [ 1  2 -1  9]

tv_digital  :  [ 1  2 -1  9]

tv_paga_y  :  [ 2  1  9 -1]

videojuego  :  [ 2 -1  1]

year_y  :  [2014 2015 2016 2017]

### Merge `compu_uso` y `computador`

In [228]:
df_inner['compu_uso'].value_counts()

-1    116606
 2     86214
 1     52108
Name: compu_uso, dtype: int64

In [229]:
df_inner['computador'].value_counts()

-1    138322
 2     74550
 1     42056
Name: computador, dtype: int64

In [230]:
i = 0
list_computador = []
for row_a, row_b in zip(df_inner['compu_uso'].tolist(), df_inner['computador'].tolist()):
    if(row_a == -1) & (row_b == 1):
        list_computador.append(1)

    elif(row_a == -1) & (row_b == 2):
        list_computador.append(2)
        
    elif(row_a == 1) & (row_b == -1):
        list_computador.append(1)

    elif(row_a == 2) & (row_b == -1):
        list_computador.append(2)
        
    else:
        list_computador.append(-1)
        
    i+=1
    
i

254928

In [231]:
np.unique(list_computador)

array([-1,  1,  2])

In [232]:
len(list_computador)

254928

In [233]:
df_inner['computador'] = list_computador
df_inner['computador'].value_counts()

 2    160754
 1     94158
-1        16
Name: computador, dtype: int64

### Merge `conex_inte` y `internet`

In [234]:
df_inner['conex_inte'].value_counts()

-1    116606
 2     82173
 1     56014
 9       135
Name: conex_inte, dtype: int64

In [235]:
df_inner['internet'].value_counts()

-1    138322
 2     58698
 1     57908
Name: internet, dtype: int64

In [236]:
i = 0
list_internet = []
for row_a, row_b in zip(df_inner['conex_inte'].tolist(), df_inner['internet'].tolist()):
    if(row_a == -1) & (row_b == 1):
        list_internet.append(1)

    elif(row_a == -1) & (row_b == 2):
        list_internet.append(2)
        
    elif(row_a == 1) & (row_b == -1):
        list_internet.append(1)

    elif(row_a == 2) & (row_b == -1):
        list_internet.append(2)
        
    else:
        list_internet.append(-1)
        
    i+=1
    
i

254928

In [237]:
np.unique(list_internet)

array([-1,  1,  2])

In [238]:
len(list_internet)

254928

In [239]:
df_inner['internet'] = list_internet
df_inner['internet'].value_counts()

 2    140864
 1    113913
-1       151
Name: internet, dtype: int64

### Merge `celular_x` y `celular_x`

In [240]:
df_inner['celular_x'].value_counts()

-1    138322
 1     71312
 2     45294
Name: celular_x, dtype: int64

In [241]:
df_inner['celular_y'].value_counts()

-1    116606
 1     98625
 2     39695
 9         2
Name: celular_y, dtype: int64

In [242]:
i = 0
list_celular = []
for row_a, row_b in zip(df_inner['celular_x'].tolist(), df_inner['celular_y'].tolist()):
    if(row_a == -1) & (row_b == 1):
        list_celular.append(1)

    elif(row_a == -1) & (row_b == 2):
        list_celular.append(2)
        
    elif(row_a == 1) & (row_b == -1):
        list_celular.append(1)

    elif(row_a == 2) & (row_b == -1):
        list_celular.append(2)
        
    else:
        list_celular.append(-1)
        
    i+=1
    
i

254928

In [243]:
np.unique(list_celular)

array([-1,  1,  2])

In [244]:
len(list_celular)

254928

In [245]:
df_inner['celular'] = list_celular
df_inner['celular'].value_counts()

 1    169924
 2     84986
-1        18
Name: celular, dtype: int64

### Merge `tel_fijo_x` y `tel_fijo_y`

In [246]:
df_inner['tel_fijo_x'].value_counts()

-1    138322
 2     70657
 1     45949
Name: tel_fijo_x, dtype: int64

In [247]:
df_inner['tel_fijo_y'].value_counts()

-1    116606
 2     88660
 1     49661
 9         1
Name: tel_fijo_y, dtype: int64

In [248]:
i = 0
list_tel_fijo = []
for row_a, row_b in zip(df_inner['tel_fijo_x'].tolist(), df_inner['tel_fijo_y'].tolist()):
    if(row_a == -1) & (row_b == 1):
        list_tel_fijo.append(1)

    elif(row_a == -1) & (row_b == 2):
        list_tel_fijo.append(2)
        
    elif(row_a == 1) & (row_b == -1):
        list_tel_fijo.append(1)

    elif(row_a == 2) & (row_b == -1):
        list_tel_fijo.append(2)
        
    else:
        list_tel_fijo.append(-1)
        
    i+=1
    
i

254928

In [249]:
np.unique(list_tel_fijo)

array([-1,  1,  2])

In [250]:
len(list_tel_fijo)

254928

In [251]:
df_inner['tel_fijo'] = list_tel_fijo
df_inner['tel_fijo'].value_counts()

 2    159306
 1     95605
-1        17
Name: tel_fijo, dtype: int64

### Merge `tv_paga_x` y `tv_paga_y`

In [252]:
df_inner['tv_paga_x'].value_counts()

-1    138322
 1     81279
 2     35327
Name: tv_paga_x, dtype: int64

In [253]:
df_inner['tv_paga_y'].value_counts()

-1    116606
 2     74750
 1     63495
 9        77
Name: tv_paga_y, dtype: int64

In [254]:
i = 0
list_tv_paga = []
for row_a, row_b in zip(df_inner['tv_paga_x'].tolist(), df_inner['tv_paga_y'].tolist()):
    if(row_a == -1) & (row_b == 1):
        list_tv_paga.append(1)

    elif(row_a == -1) & (row_b == 2):
        list_tv_paga.append(2)
        
    elif(row_a == 1) & (row_b == -1):
        list_tv_paga.append(1)

    elif(row_a == 2) & (row_b == -1):
        list_tv_paga.append(2)
        
    else:
        list_tv_paga.append(-1)
        
    i+=1
    
i

254928

In [255]:
np.unique(list_tv_paga)

array([-1,  1,  2])

In [256]:
len(list_tv_paga)

254928

In [257]:
df_inner['tv_paga'] = list_tv_paga
df_inner['tv_paga'].value_counts()

 1    144762
 2    110073
-1        93
Name: tv_paga, dtype: int64

### Merge `calentador` y `calent_sol` o `calent_gas`

In [258]:
df_inner['calentador'].value_counts()

-1    116606
 2     77820
 1     60502
Name: calentador, dtype: int64

In [259]:
df_inner['calent_sol'].value_counts()

-1    138322
 2    110638
 1      5968
Name: calent_sol, dtype: int64

In [260]:
df_inner['calent_gas'].value_counts()

-1    138322
 2     69449
 1     47157
Name: calent_gas, dtype: int64

In [261]:
i = 0
list_calentador = []

for row_a, row_b, row_c in zip(df_inner['calentador'].tolist(), df_inner['calent_sol'].tolist(), df_inner['calent_gas'].tolist()):
    if(row_a == -1) & ((row_b == 1) | (row_b == 1)):
        list_calentador.append(1)

    elif(row_a == -1) & ((row_b == 2) | (row_b == 2)):
        list_calentador.append(2)
        
    elif(row_a == 1) & ((row_b == -1) | (row_b == -1)):
        list_calentador.append(1)

    elif(row_a == 2) & ((row_b == -1) | (row_b == -1)):
        list_calentador.append(2)
        
    else:
        list_calentador.append(-1)
        
    i+=1
    
i

254928

In [262]:
np.unique(list_calentador)

array([1, 2])

In [263]:
len(list_calentador)

254928

In [264]:
df_inner['calentador'] = list_calentador
df_inner['calentador'].value_counts()

2    188458
1     66470
Name: calentador, dtype: int64

### Merge `tot_resid` y `tot_integ`

In [265]:
df_inner['tot_resid'].value_counts().head()

-1    57523
 4    44536
 3    37819
 2    32790
 5    31715
Name: tot_resid, dtype: int64

In [266]:
df_inner['tot_integ'].value_counts().head()

4    58486
3    50397
2    44600
5    39955
1    25631
Name: tot_integ, dtype: int64

In [267]:
i = 0
list_tot_integ = []

for row_a, row_b in zip(df_inner['tot_resid'].tolist(), df_inner['tot_integ'].tolist()):
    if(row_a == -1) & (row_b > 0):
        list_tot_integ.append(row_b)
    else:
        list_tot_integ.append(row_b) 
        
    i+=1
    
i

254928

In [268]:
np.unique(list_tot_integ)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 22, 24])

In [269]:
len(list_tot_integ)

254928

In [270]:
df_inner['tot_integ'] = list_tot_integ
df_inner['tot_integ'].value_counts()

4     58486
3     50397
2     44600
5     39955
1     25631
6     18564
7      8720
8      4147
9      2113
10     1155
11      569
12      254
13      144
14       75
15       48
16       29
17       17
20        9
19        7
18        6
22        1
24        1
Name: tot_integ, dtype: int64

In [294]:
import re
ubica_geo = df_inner.ubica_geo.astype('str')
ubica_geo.head()

0    10010001
1    10010001
2    10010001
3    10010001
4    10010001
Name: ubica_geo, dtype: object

In [332]:
for row, index in zip(ubica_geo, ubica_geo.index):
    if len(row) == 8:
        ubica_geo[index] = '0' + row
ubica_geo[0]

'010010001'

In [337]:
ubica_geo[0][:2]

'01'

In [338]:
ubica_geo[0][2:5]

'001'

In [339]:
ubica_geo[0][5:]

'0001'

In [368]:
ubica_geo[1][:2]

'01'

In [384]:
list_CVE_ENT = []
list_CVE_MUN = []
list_CVE_LOC = []

for index in ubica_geo.index:
    list_CVE_ENT.append(ubica_geo[index][:2])
    list_CVE_MUN.append(ubica_geo[index][2:5])
    list_CVE_LOC.append(ubica_geo[index][5:])

In [388]:
df_inner['CVE_ENT'] = list_CVE_ENT
df_inner['CVE_ENT'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', '32'], dtype=object)

In [390]:
df_inner['CVE_MUN'] = list_CVE_MUN
df_inner['CVE_MUN'].unique()

array(['001', '003', '005', '006', '007', '011', '004', '002', '009',
       '010', '008', '018', '025', '030', '035', '020', '024', '027',
       '028', '037', '038', '017', '033', '036', '013', '078', '089',
       '101', '019', '061', '065', '074', '075', '094', '097', '106',
       '029', '031', '046', '081', '087', '099', '102', '108', '111',
       '015', '052', '076', '012', '014', '021', '022', '023', '034',
       '041', '054', '059', '067', '070', '092', '098', '103', '112',
       '114', '032', '040', '045', '060', '062', '051', '016', '039',
       '042', '050', '057', '058', '066', '043', '055', '071', '077',
       '079', '048', '069', '082', '084', '063', '044', '073', '083',
       '068', '120', '053', '085', '093', '104', '109', '121', '122',
       '091', '118', '064', '088', '119', '124', '107', '072', '100',
       '110', '026', '049', '184', '385', '390', '397', '399', '515',
       '090', '157', '185', '227', '293', '327', '375', '384', '401',
       '409', '441', '520', '525', '546', '565', '519', '125', '189',
       '190', '198', '208', '234', '242', '317', '333', '340', '386',
       '422', '424', '439', '491', '507', '513', '135', '307', '369',
       '470', '473', '554', '156', '132', '140', '154', '164', '115',
       '136', '137', '138', '177', '180', '194', '199', '203', '217',
       '202', '207', '150', '178', '056', '193', '143', '174', '204',
       '206', '105', '117', '123', '128', '129', '133', '160', '161',
       '047', '095', '126', '141', '142', '148', '151', '175', '200',
       '096', '086', '080', '116', '131', '188', '295', '324', '350',
       '452', '467', '505', '551', '553', '130', '134', '414', '166',
       '253', '266', '378', '466', '492', '496', '517', '559', '265',
       '283', '315', '346', '359', '391', '485', '533', '168', '182',
       '186', '205', '211', '172', '197', '139', '149', '155', '181',
       '187', '210', '113', '482', '298', '338', '418', '475', '526',
       '309', '334', '413', '454', '474', '285', '368', '431', '506',
       '212', '170', '153', '192', '144', '209', '248', '367', '398',
       '472', '557', '167', '201', '225', '310', '344', '406', '446',
       '500', '523', '237', '260', '330', '349', '356', '387', '493',
       '213', '169', '191', '173', '127'], dtype=object)

In [391]:
df_inner['CVE_LOC'] = list_CVE_LOC
df_inner['CVE_LOC'].unique()

array(['0001', '1025', '0023', '0041', '0245', '0030', '0367', '0026',
       '0109', '0482', '0040', '0144', '2381', '0992', '0988', '0047',
       '0014', '0034', '0248', '0266', '0424', '0472', '0391', '0464',
       '0028', '0261', '0370', '0393', '0024', '0008', '0107', '0133',
       '0187', '0381', '1599', '1781', '1561', '2183', '0340', '1883',
       '0089', '0118', '0211', '1273', '1303', '2086', '2317', '2575',
       '2008', '3134', '1721', '2396', '1685', '3174', '0883', '1625',
       '0873', '0054', '0753', '0280', '0003', '0247', '0952', '1435',
       '0684', '0035', '0967', '0456', '1374', '0985', '1500', '0720',
       '0738', '0939', '1164', '0004', '0007', '0087', '0101', '0199',
       '0045', '0432', '0010', '0104', '0081', '3217', '0094', '0066',
       '0027', '0043', '0050', '0569', '0568', '0333', '0838', '0761',
       '0673', '1002', '0179', '0313', '0164', '0171', '0077', '0076',
       '0124', '0236', '0355', '0680', '0130', '0382', '0153', '0638',
       '0677', '0071', '0091', '0093', '0052', '0059', '0002', '0005',
       '0018', '0025', '0080', '0098', '0011', '0037', '0019', '0057',
       '0031', '0214', '0320', '0219', '0138', '1041', '1017', '0103',
       '0136', '0013', '0068', '0020', '0143', '0097', '0078', '0150',
       '0315', '0532', '0469', '0022', '0064', '0042', '0032', '0006',
       '0061', '0258', '0439', '1600', '0683', '0015', '0207', '0036',
       '0121', '0743', '0734', '0149', '0727', '0134', '0048', '0017',
       '0073', '0029', '0072', '0012', '0169', '0634', '0584', '0628',
       '0458', '0639', '0486', '0038', '0492', '0088', '0135', '0084',
       '0208', '0210', '0206', '1984', '2099', '0196', '0256', '2051',
       '0443', '0457', '0445', '0442', '0021', '0051', '0009', '0060',
       '0193', '0242', '0293', '0157', '0156', '0601', '1597', '0188',
       '0123', '0108', '0886', '0281', '0371', '0100', '0284', '0659',
       '0292', '0044', '0122', '0062', '0220', '0147', '0132', '0785',
       '0975', '0288', '1379', '0573', '0228', '0114', '0067', '0587',
       '0294', '0758', '0694', '0053', '0159', '0760', '0151', '1399',
       '1286', '1285', '0362', '0212', '0509', '0184', '0039', '0163',
       '0120', '0463', '0450', '0112', '0016', '0086', '0033', '0090',
       '0046', '0095', '0142', '0099', '0106', '0069', '0074', '0131',
       '0063', '0158', '0191', '0110', '0082', '0049', '0055', '0822',
       '0843', '0231', '0831', '0833', '0139', '0251', '0075', '0297',
       '0079', '0083', '0058', '0514', '0096', '0070', '0317', '0102',
       '0085', '0303', '0388', '0401', '0201', '0203', '0213', '0265',
       '0283', '0318', '0396', '0125', '0111', '0115', '0116', '0128',
       '0152', '0322', '0137', '0301', '0126', '0056', '0209', '0334',
       '0273', '0515', '0462', '0338', '0259', '0287', '1688', '0950',
       '0127', '0105', '0181', '0117', '0218', '0232', '0431', '0489',
       '0467', '0092', '0065', '0255', '0253', '0237', '0321', '0119',
       '0358', '0420', '1113', '0252', '0327', '0264', '0307', '0154',
       '0141', '0267', '0162', '0312', '0160', '0205', '0746', '0304',
       '0357', '0394', '0198', '0413', '3258', '0274', '1010', '0612',
       '0227', '0155', '0605', '0215', '0216', '0571', '0494', '0387',
       '0551', '0311', '0403', '0830', '0511', '1121', '2721', '2015',
       '0821', '0176', '0113', '0177', '0224', '0254', '0170', '0291',
       '0192', '1085', '1083', '0339', '0490', '1104', '0871', '0271',
       '0217', '0238', '0226', '0186', '0241', '0166', '0165', '0182',
       '0239', '0346', '1069', '0708', '0504', '0493', '0497', '0501',
       '0200', '0408', '0319', '0221', '0427', '0345', '0429', '0707',
       '0558', '1166', '0475', '0185', '1053', '1624', '0268', '1107',
       '1284', '3539', '3442', '2629', '1759', '2899', '0679', '0444',
       '0559', '1020', '0963', '2471', '0771', '1138', '4442', '1720',
       '1717', '2717', '1603', '0417', '0342', '0616', '0366', '0685',
       '0178', '0377', '0376', '0459', '0409', '0175', '0246', '0161',
       '0243', '0257', '0354', '0384', '0202', '0349', '0308', '0576',
       '0399', '0400', '1244', '0927', '1095', '1178', '1143', '1309',
       '1307', '1318', '0234', '0578', '0733', '0608', '0719', '0960',
       '0804', '0194', '0728', '0325', '0697', '1556', '1263', '1251',
       '0754', '0453', '0703', '0148', '0180', '0435', '0523', '0520',
       '0129', '0507', '0168', '0853', '0866', '0667', '0204', '0173',
       '0145', '0190', '1154', '0717', '0363', '1261', '1207', '0538',
       '0359', '0276', '0478', '0426', '0286', '0535', '1079', '0275',
       '0341', '0530', '0557', '0801', '0951', '0811', '0590', '2127',
       '1582', '0506', '1061', '1441', '0759', '0580', '1218', '0379',
       '1071', '2223', '0240', '0555', '0222', '0295', '0607', '0632',
       '0585', '1506', '1217', '0302', '0737', '0407', '0306', '0223',
       '0230', '0233', '0876', '0563', '0360', '0336', '0440', '0348',
       '0385', '2402', '0548', '0922', '2043', '2346', '1181', '0982',
       '2198', '0465', '0461', '0262', '2364', '2141', '2142', '4260',
       '4645', '3221', '1027', '0678', '1876', '0380', '2578', '2832',
       '1347', '2219', '2873', '2108', '2964', '1064', '1338', '0654',
       '0353', '1073', '2842', '0674', '0672', '0521', '0663', '0682',
       '0390', '0290', '0602', '0361', '0823', '0337', '2677', '3045',
       '1421', '1861', '1593', '1016', '1011', '1760', '1046', '1197',
       '1125', '1341', '1383', '1371', '1370', '1327', '1314', '1377',
       '1321', '1378', '0430', '0167', '0705', '0611', '0296', '0375',
       '0278', '0309', '0365', '0986', '2047', '2059', '2815', '0480',
       '0964', '0662', '0229', '0324', '0279', '1671', '0451', '0848',
       '0872', '0364', '1196', '0778', '0706', '0422', '0570', '0140',
       '0146', '0438', '0502', '0449', '0235', '0352', '0473', '0373',
       '0183', '0174', '0884', '0657', '0536', '1072', '0416', '0818',
       '0622', '1124', '0797', '0282', '2426', '0993', '1439', '0505',
       '2234', '0888', '0624', '0249', '0598', '1523', '0899', '1543',
       '0326', '0343', '0289', '0666', '0433', '0660', '0428', '0774',
       '0369', '0244', '0824', '1044', '1248', '1006', '0414', '0397',
       '0564', '0652', '1136', '1573', '1542', '1654', '2496', '1773',
       '2252', '2166', '3071', '1757', '1811', '0798', '1630', '2362',
       '1906', '2493', '1903', '1953', '1955', '1970', '1969', '1873',
       '1991', '0610', '0479', '0614', '3395', '3430', '3631', '3477',
       '3634', '4004', '0763', '0947', '0966', '0865', '0272', '0412',
       '1148', '0455', '0441', '0405', '0669', '1234', '0766', '2795',
       '2727', '2623', '2652', '2654', '1570', '2836', '0600', '0650',
       '0627', '0806', '0299', '0594', '0909', '1045', '1763', '0718',
       '0983', '1482', '0987', '0488', '0845', '0269', '0477', '0813',
       '0839', '0305', '0410', '0721', '0332', '0172', '0300', '0437',
       '0392', '0404', '0189', '0378', '0597', '0695', '0793', '0704',
       '0344', '0483', '0374', '0549', '1151', '1225', '1168', '0539',
       '0642', '1677', '1243', '3028', '2437', '0398', '1144', '1111',
       '1283', '0329', '0776', '0285', '0495', '1436', '0418', '0637',
       '0629'], dtype=object)

### Drop all columns down 50% na threshold

In [271]:
n = df_inner.columns.values.tolist()
m = round(df_inner.shape[0]*.50)
l = []
for i in n:
    if df_inner[i].value_counts().get(-1) != None:
        if m < df_inner[i].value_counts().get(-1):
            l.append(i)
            df_inner.drop(labels=i, axis=1, inplace=True)

In [272]:
l

['ais_otro',
 'ais_pared',
 'ais_techos',
 'ais_ventan',
 'anio_panel',
 'anio_res',
 'auto_pick',
 'calent_gas',
 'calent_sol',
 'celular_x',
 'comun1',
 'comun10',
 'comun11',
 'comun12',
 'comun13',
 'comun14',
 'comun15',
 'comun16',
 'comun17',
 'comun2',
 'comun3',
 'comun4',
 'comun5',
 'comun6',
 'comun7',
 'comun8',
 'comun9',
 'condominio',
 'dispos_ne',
 'dispos_nh1',
 'dispos_nh2',
 'dispos_no1',
 'dispos_no2',
 'elevador',
 'estaciona',
 'estufa_chi',
 'factor',
 'facul_ne',
 'facul_nh1',
 'facul_nh2',
 'facul_no1',
 'facul_no2',
 'familiar',
 'financia_1',
 'financia_2',
 'financia_3',
 'financia_4',
 'financia_5',
 'financia_6',
 'financia_7',
 'financia_8',
 'hog_dueno2',
 'mes_res',
 'num_dueno2',
 'pago_renta',
 'panel_ne',
 'pot_panel',
 'potencia',
 'rega_elect',
 'ren_estufa',
 'ren_horno',
 'ren_lavad',
 'ren_planch',
 'ren_refri',
 'ren_tv',
 'tel_fijo_x',
 'tipo_finan',
 'tv_paga_x',
 'valor_viv',
 'vend_hered',
 'viv_usada',
 'adqui_pc',
 'cel_hogar',
 'chofer',
 'cocinero',
 'compu_uso2',
 'conex_int1',
 'conex_int2',
 'conex_int3',
 'conex_int4',
 'conex_int5',
 'conex_int6',
 'conex_int7',
 'cuid_perso',
 'edad_tra10',
 'edad_trab1',
 'edad_trab2',
 'edad_trab3',
 'edad_trab4',
 'edad_trab5',
 'edad_trab6',
 'edad_trab7',
 'edad_trab8',
 'edad_trab9',
 'fija_movil',
 'forma_pago',
 'huesp_come',
 'inte_12mes',
 'jardinero',
 'lavandero',
 'linea_cel',
 'linea_com',
 'lugar_inte',
 'monto_pc',
 'no_compu',
 'no_internt',
 'pago_inter',
 'pago_pc',
 'pc_nueva',
 'tiempo_pc',
 'trabaja_do',
 'videojuego']

In [393]:
df_inner.shape

(254928, 60)

In [282]:
l_2 = ['Unnamed: 0_x', 'Unnamed: 0_y', 'ageb', 'est_dis', 'factor_viv', 'folioviv', 'hog_dueno1', 'num_dueno1', 'upm', 'celular_y', 'compu_uso', 'conex_inte', 'factor_hog', 'foliohog', 'tel_fijo_y', 'tv_paga_y', 'const_neg', 'cocina_dor', 'tipo_adqui', 'const_neg', 'cocina_dor', 'tipo_adqui', 'celular_y', 'compu_uso', 'conex_inte', 'num_trab_d', 'radio', 'tel_fijo_y', 'tv_analogi', 'tv_digital', 'tv_paga_y', 'escrituras', 'tot_resid', ubica_geo]

In [279]:
df_inner['año'] = df_inner.year_x

In [280]:
df_inner.drop(labels=['year_x', 'year_y'], axis=1, inplace=True)

In [283]:
df_inner.drop(labels=l_2, axis=1, inplace=True)
df_inner.shape

ValueError: labels ['Unnamed: 0_x' 'Unnamed: 0_y' 'ageb' 'est_dis' 'factor_viv' 'folioviv'
 'hog_dueno1' 'num_dueno1' 'upm' 'celular_y' 'compu_uso' 'conex_inte'
 'factor_hog' 'foliohog' 'tel_fijo_y' 'tv_paga_y' 'const_neg' 'cocina_dor'
 'tipo_adqui' 'const_neg' 'cocina_dor' 'tipo_adqui' 'celular_y' 'compu_uso'
 'conex_inte' 'num_trab_d' 'radio' 'tel_fijo_y' 'tv_analogi' 'tv_digital'
 'tv_paga_y'] not contained in axis

In [287]:
for line in df_inner.columns:
    print(line, ' : ', df_inner[line].value_counts(), '\n')

aire_acond  :  2    207467
1     47461
Name: aire_acond, dtype: int64

antiguedad  :  -1     64173
 20    16408
 10    15677
 30    14071
 15    13152
 25     8366
 40     7913
 8      7485
 5      7393
 12     6169
 7      5764
 6      5693
 3      4890
 4      4863
 35     4777
 9      4398
 2      4282
 50     4004
 18     3912
 14     3550
 13     3318
 1      3235
 16     3098
 17     2824
 11     2699
 22     2552
 28     1969
 23     1942
 45     1765
 24     1683
       ...
 63       43
 66       38
 67       31
 74       25
 77       23
 85       20
 61       18
 72       17
 78       16
 73       15
 69       15
 76       14
 71       13
 95       12
 86        9
 87        8
 84        8
 98        8
 81        8
 79        6
 82        5
 83        5
 88        5
 89        4
 97        3
 92        2
 94        2
 93        1
 96        1
 91        1
Name: antiguedad, Length: 101, dtype: int64

bano_comp  :   1    136654
 0     68404
 2     33084
-1      8900
 3      6096
 4      1342
 5       326
 6        90
 7        23
 8         5
 9         4
Name: bano_comp, dtype: int64

bano_excus  :   0    149447
 1     91457
-1      8900
 2      4524
 3       312
 9       165
 4        57
 8        39
 5        16
 6        11
Name: bano_excus, dtype: int64

bano_regad  :   0    239110
-1      8900
 1      6556
 9       181
 2       122
 8        39
 3        14
 5         3
 4         2
 6         1
Name: bano_regad, dtype: int64

bomba_agua  :  2    194725
1     60203
Name: bomba_agua, dtype: int64

calefacc  :  2    249592
1      5336
Name: calefacc, dtype: int64

calentador  :  2    188458
1     66470
Name: calentador, dtype: int64

chimenea  :  2    247405
1      7523
Name: chimenea, dtype: int64

cisterna  :  2    205340
1     49588
Name: cisterna, dtype: int64

cocina  :  1    240091
2     14837
Name: cocina, dtype: int64

combustible  :   3    196345
 1     39439
 4     12764
 6      2812
 5      2722
 2       844
-1         2
Name: combustible, dtype: int64

computador  :   2    160754
 1     94158
-1        16
Name: computador, dtype: int64

const_bano  :  2    162816
1     92112
Name: const_bano, dtype: int64

const_coci  :  2    179220
1     75708
Name: const_coci, dtype: int64

const_dorm  :  2    144047
1    110881
Name: const_dorm, dtype: int64

cuart_dorm  :  2     106440
1      82229
3      52013
4      11431
5       2125
6        497
7        127
8         50
9          7
11         6
10         2
15         1
Name: cuart_dorm, dtype: int64

disp_agua  :  1    184206
2     53654
6      9677
5      3627
4      3101
3       663
Name: disp_agua, dtype: int64

disp_elect  :  1    252759
5      1524
3       434
2       136
4        75
Name: disp_elect, dtype: int64

dotac_agua  :   1    176209
 2     35536
-1     17068
 3     11444
 4      8429
 5      6242
Name: dotac_agua, dtype: int64

drenaje  :  1    182440
2     54053
5     15795
3      1744
4       896
Name: drenaje, dtype: int64

eli_basura  :  1    203373
3     21572
4     17255
2      9210
5      1912
6      1294
7       282
8        30
Name: eli_basura, dtype: int64

est_socio  :  2    130929
3     53949
1     47823
4     22227
Name: est_socio, dtype: int64

excusado  :  1    246028
2      8900
Name: excusado, dtype: int64

focos_ahor  :   0     41392
 4     26609
 5     24706
 3     24471
 6     23551
 2     20402
 7     16527
 8     15995
 1     13216
 10    11872
 9      7948
 12     5599
 15     3711
 11     3564
 20     2492
 13     2091
 14     1995
-1      1559
 16     1247
 18      934
 30      720
 25      687
 17      662
 22      377
 19      319
 40      272
 21      248
 23      215
 24      203
 50      192
       ...
 55        9
 56        9
 43        8
 47        7
 65        6
 52        6
 48        5
 41        5
 54        5
 46        5
 64        4
 58        4
 75        4
 98        3
 63        3
 66        2
 49        2
 57        2
 88        2
 53        2
 92        2
 51        2
 74        1
 61        1
 76        1
 77        1
 82        1
 95        1
 96        1
 62        1
Name: focos_ahor, Length: 81, dtype: int64

focos_inca  :   0     135254
 2      25528
 1      23338
 3      21002
 4      16530
 5      11404
 6       7584
 7       4227
 8       3074
 10      1667
-1       1559
 9       1408
 12       516
 11       457
 15       307
 13       197
 14       178
 20       154
 16        94
 18        66
 17        63
 25        59
 30        50
 22        27
 19        23
 21        18
 24        18
 50        13
 23        11
 40        10
 26         8
 35         8
 28         7
 60         7
 27         7
 34         6
 33         6
 99         5
 32         5
 29         5
 45         4
 70         3
 36         3
 98         2
 65         2
 39         2
 38         2
 42         1
 31         1
 49         1
 75         1
 78         1
 80         1
 90         1
 91         1
 37         1
 46         1
Name: focos_inca, dtype: int64

fregadero  :  1    152833
2    102095
Name: fregadero, dtype: int64

internet  :   2    140864
 1    113913
-1       151
Name: internet, dtype: int64

lavadero  :  1    212457
2     42471
Name: lavadero, dtype: int64

mat_pared  :  8    224290
7     17430
6      9398
3      1414
5       971
4       795
2       341
1       289
Name: mat_pared, dtype: int64

mat_pisos  :   2    129950
 3    118594
 1      6381
-1         3
Name: mat_pisos, dtype: int64

mat_techos  :  9    188477
3     35125
4     14354
6      5899
8      4119
7      2796
2      2579
5      1389
1       190
Name: mat_techos, dtype: int64

medidor_luz  :  1    238198
2     16730
Name: medidor_luz, dtype: int64

num_cuarto  :  4     68117
3     59419
5     44470
2     33900
6     19896
1     14558
7      8077
8      3820
9      1446
10      732
11      223
12      168
13       50
14       23
15       13
16        8
17        3
22        2
20        1
18        1
19        1
Name: num_cuarto, dtype: int64

pileta  :  2    146980
1    107948
Name: pileta, dtype: int64

regadera  :  1    182515
2     72413
Name: regadera, dtype: int64

repar_agua  :  2    211639
1     43289
Name: repar_agua, dtype: int64

repar_cabl  :  2    199447
1     55481
Name: repar_cabl, dtype: int64

repar_dren  :  2    222439
1     32489
Name: repar_dren, dtype: int64

repar_pard  :  2    134287
1    120641
Name: repar_pard, dtype: int64

repar_tech  :  2    133578
1    121350
Name: repar_tech, dtype: int64

sanit_agua  :   1    174423
 2     60115
 3     11490
-1      8900
Name: sanit_agua, dtype: int64

tam_loc  :  1    112776
4     60833
3     40804
2     40515
Name: tam_loc, dtype: int64

tanque_gas  :  2    229923
1     25005
Name: tanque_gas, dtype: int64

tenencia  :  4    141938
2     39767
1     34930
3     28204
5      6440
6      3649
Name: tenencia, dtype: int64

tinaco_azo  :  1    142949
2    111979
Name: tinaco_azo, dtype: int64

tipo_viv  :   1    243199
 2      8930
 3      2376
-1       198
 5       147
 4        78
Name: tipo_viv, dtype: int64

tot_hog  :  1    247473
2      5958
3      1207
4       249
5        41
Name: tot_hog, dtype: int64

ubica_geo  :  10010001     5309
230050001    4271
310500001    3284
260300001    3091
20040001     3048
100050001    3039
220140001    3007
30030001     2910
80190001     2599
50300001     2573
250060001    2541
40020001     2482
180170001    2358
80370001     2249
240280001    2190
110200001    2176
211140001    1975
60100001     1689
190390001    1669
160530001    1590
20020001     1571
120010001    1553
60020001     1551
90070001     1529
170070001    1458
140390001    1454
270040001    1442
50350001     1348
130480001    1318
141200001    1249
             ...
260560017       1
50040441        1
240420045       1
190180179       1
250060642       1
30032108        1
30032364        1
120640062       1
30032964        1
60010209        1
80200235        1
190380597       1
20013221        1
70592727        1
10090094        1
310350008       1
230021072       1
70651371        1
10012198        1
60010315        1
280290255       1
320060018       1
70592623        1
120730570       1
210060027       1
190380704       1
210060034       1
301420170       1
240110163       1
250140070       1
Name: ubica_geo, Length: 5677, dtype: int64

uso_compar  :   2    234650
 1     11378
-1      8900
Name: uso_compar, dtype: int64

huespedes  :  0    254836
1        59
2        21
3        11
5         1
Name: huespedes, dtype: int64

tot_hom  :  1     94194
2     77249
3     41202
0     21629
4     14402
5      4330
6      1289
7       405
8       150
9        49
10       16
11        7
13        3
12        3
Name: tot_hom, dtype: int64

tot_integ  :  4     58486
3     50397
2     44600
5     39955
1     25631
6     18564
7      8720
8      4147
9      2113
10     1155
11      569
12      254
13      144
14       75
15       48
16       29
17       17
20        9
19        7
18        6
22        1
24        1
Name: tot_integ, dtype: int64

tot_muj  :  1     90621
2     78749
3     43443
0     18134
4     16267
5      5135
6      1709
7       569
8       193
9        74
10       24
13        5
11        4
12        1
Name: tot_muj, dtype: int64

celular  :   1    169924
 2     84986
-1        18
Name: celular, dtype: int64

tel_fijo  :   2    159306
 1     95605
-1        17
Name: tel_fijo, dtype: int64

tv_paga  :   1    144762
 2    110073
-1        93
Name: tv_paga, dtype: int64

año  :  2015    76596
2014    61726
2016    59083
2017    57523
Name: año, dtype: int64

In [394]:
df_inner.shape

(254928, 60)

In [395]:
df_inner.to_csv('enh.csv')

# OPCIONAL

### Fill `antiguedad`

In [146]:
list_antiguedad = df_inner.antiguedad[df_inner.antiguedad > -1].mean()
antiguedad_mean = round(list_antiguedad)
antiguedad_mean

20

In [147]:
df_inner.antiguedad.replace({-1: antiguedad_mean}, inplace=True)
df_inner.antiguedad = df_inner.antiguedad.astype('int64')
df_inner.antiguedad.value_counts().head()

20    80581
10    15677
30    14071
15    13152
25     8366
Name: antiguedad, dtype: int64

### Fill `bano_comp`

In [148]:
list_bano_comp = df_inner.bano_comp[df_inner.bano_comp > -1].mean()
bano_comp_mean = round(list_bano_comp)
bano_comp_mean

1

In [149]:
df_inner.bano_comp.replace({-1: bano_comp_mean}, inplace=True)
df_inner.bano_comp = df_inner.bano_comp.astype('int64')
df_inner.bano_comp.value_counts().head()

1    145554
0     68404
2     33084
3      6096
4      1342
Name: bano_comp, dtype: int64

### Fill `bano_excus`

In [150]:
list_bano_excus = df_inner.bano_excus[df_inner.bano_excus > -1].mean()
bano_excus_mean = round(list_bano_excus)
bano_excus_mean

0

In [151]:
df_inner.bano_excus.replace({-1: bano_excus_mean}, inplace=True)
df_inner.bano_excus = df_inner.bano_excus.astype('int64')
df_inner.bano_excus.value_counts().head()

0    158347
1     91457
2      4524
3       312
9       165
Name: bano_excus, dtype: int64

### Fill `bano_regad`

In [152]:
list_bano_regad = df_inner.bano_regad[df_inner.bano_regad > -1].mean()
bano_regad_mean = round(list_bano_regad)
bano_regad_mean

0

In [153]:
df_inner.bano_regad.replace({-1: bano_regad_mean}, inplace=True)
df_inner.bano_regad = df_inner.bano_regad.astype('int64')
df_inner.bano_regad.value_counts().head()

0    248010
1      6556
9       181
2       122
8        39
Name: bano_regad, dtype: int64

### Fill `focos_ahor`

In [152]:
list_bano_regad = df_inner.bano_regad[df_inner.bano_regad > -1].mean()
bano_regad_mean = round(list_bano_regad)
bano_regad_mean

0

In [153]:
df_inner.bano_regad.replace({-1: bano_regad_mean}, inplace=True)
df_inner.bano_regad = df_inner.bano_regad.astype('int64')
df_inner.bano_regad.value_counts().head()

0    248010
1      6556
9       181
2       122
8        39
Name: bano_regad, dtype: int64