Características correspondientes a la percepción de seguridad pública y el desempeño institucional.

In [1]:
import pandas as pd

In [14]:
file = '../2014/bd_envipe2014/bd_envipe2014/TPer_Vic1.csv'
df_s14 = pd.read_csv(file, encoding='latin')
df_s14['year'] = 2014
df_s14.head()

,Unnamed: 0,CONTROL,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP4_1,AP4_2_01,AP4_2_02,...,AP5_9_15,AP5_9_99,FAC_HOG,FAC_ELE,DOM,EST,UPM,FAC_HOG_AM,FAC_ELE_AM,year
0,0,100001,1,1,B,1,14.0,3,1,0,...,0,0,191,382,U,5,1,192.0,384.0,2014
1,1,100001,2,1,B,2,14.0,3,0,0,...,0,0,191,382,U,5,1,192.0,384.0,2014
2,2,100001,3,1,B,1,14.0,3,0,0,...,0,0,191,764,U,5,1,192.0,768.0,2014
3,3,100001,4,1,A,1,14.0,1,0,1,...,0,0,191,764,U,5,1,192.0,768.0,2014
4,4,100001,5,1,B,3,14.0,3,0,0,...,0,0,191,573,U,5,1,192.0,576.0,2014

In [15]:
file = '../2015/TPer_Vic1.csv'
df_s15 = pd.read_csv(file, encoding='latin')
df_s15['year'] = 2015
df_s15.head()

,Unnamed: 0,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP4_1,AP4_2_01,...,AP5_8,FAC_HOG,FAC_ELE,EST_DIS,UPM_DIS,DOMINIO,ESTRATO,FAC_HOG_AM,FAC_ELE_AM,year
0,0,0100006.01.01.01,100006,1,1,B,1,14.0,3,1,...,4,172,516,5,1,U,3,173,519,2015
1,1,0100006.02.01.02,100006,2,1,A,2,14.0,3,0,...,4,172,344,5,1,U,3,173,346,2015
2,2,0100006.03.01.01,100006,3,1,A,1,14.0,3,0,...,4,172,344,5,1,U,3,173,346,2015
3,3,0100006.04.01.02,100006,4,1,A,2,14.0,1,0,...,3,172,344,5,1,U,3,173,346,2015
4,4,0100006.05.01.01,100006,5,1,B,1,14.0,2,0,...,1,172,172,5,1,U,3,173,173,2015

In [16]:
file = '../2016/tper_vic1_envipe2016/conjunto_de_datos/tper_vic1_envipe2016.csv'
df_s16 = pd.read_csv(file, encoding='latin')
df_s16['year'] = 2016
df_s16.head()

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (114,115,116) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,AREAM,AP4_1,...,AP5_8,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year
0,100006.01,0100006.01.01\r,0100006.01.01.03\r,100006,1,1,B\r,3,14\r,1,...,1,168,841,000168\r,000841\r,U\r,3,2,1,2016
1,100006.02,0100006.02.01\r,0100006.02.01.01\r,100006,2,1,B\r,1,14\r,3,...,1,168,336,000168\r,000336\r,U\r,3,2,1,2016
2,100006.03,0100006.03.01\r,0100006.03.01.04\r,100006,3,1,B\r,4,14\r,3,...,3,168,673,000168\r,000673\r,U\r,3,2,1,2016
3,100006.04,0100006.04.01\r,0100006.04.01.01\r,100006,4,1,A\r,1,14\r,3,...,3,168,168,000168\r,000168\r,U\r,3,2,1,2016
4,100006.04,0100006.04.02\r,0100006.04.02.01\r,100006,4,2,B\r,1,\r,1,...,1,168,168,\r,\r,U\r,3,2,1,2016

In [17]:
file = '../2017/tper_vic1_envipe2017/conjunto_de_datos/tper_vic1.csv'
df_s17 = pd.read_csv(file, encoding='latin')
df_s17['year'] = 2017
df_s17.head()

,ID_VIV,ID_HOG,ID_PER,UPM,VIV_SEL,HOGAR,RESUL_H,R_SEL,SEXO,EDAD,...,AP5_8,FAC_HOG,FAC_ELE,FAC_HOG_AM,FAC_ELE_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS,year
0,100008.01,0100008.01.01\r,0100008.01.01.01\r,100008,1,1,B\r,1,1,40,...,9,204,408,000204\r,000408\r,U\r,4,3,1,2017
1,100008.02,0100008.02.01\r,0100008.02.01.02\r,100008,2,1,B\r,2,2,70,...,4,204,611,000204\r,000611\r,U\r,4,3,1,2017
2,100008.04,0100008.04.01\r,0100008.04.01.01\r,100008,4,1,B\r,1,1,85,...,3,204,408,000204\r,000408\r,U\r,4,3,1,2017
3,100008.05,0100008.05.01\r,0100008.05.01.01\r,100008,5,1,A\r,1,1,28,...,1,204,408,000204\r,000408\r,U\r,4,3,1,2017
4,100022.01,0100022.01.01\r,0100022.01.01.03\r,100022,1,1,A\r,3,1,22,...,4,198,595,000198\r,000595\r,U\r,3,2,2,2017

In [18]:
df = pd.concat([df_s14, df_s15, df_s16, df_s17])

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [19]:
df_copy = df.copy()
df_copy.head()

,AP4_1,AP4_10_01,AP4_10_02,AP4_10_03,AP4_10_04,AP4_10_05,AP4_10_06,AP4_10_07,AP4_10_08,AP4_10_09,...,NOM_ENT,NOM_MUN,RESUL_H,R_SEL,SEXO,UPM,UPM_DIS,Unnamed: 0,VIV_SEL,year
0,3,1,3,1,3,3,2,3,3,1,...,NaN,NaN,B,1,NaN,1,NaN,0.0,1,2014
1,3,1,1,1,2,2,1,3,1,1,...,NaN,NaN,B,2,NaN,1,NaN,1.0,2,2014
2,3,1,1,1,2,2,1,3,3,1,...,NaN,NaN,B,1,NaN,1,NaN,2.0,3,2014
3,1,1,1,1,2,2,1,3,3,1,...,NaN,NaN,A,1,NaN,1,NaN,3.0,4,2014
4,3,3,2,2,3,3,2,3,2,2,...,NaN,NaN,B,3,NaN,1,NaN,4.0,5,2014

In [20]:
df_copy.shape

(347431, 208)

In [21]:
df_copy.columns[df.isnull().any()].tolist()

['AP4_12',
 'AP4_9_1',
 'AP4_9_2',
 'AP4_9_3',
 'AP4_9_4',
 'AP4_9_5',
 'AP4_9_6',
 'AP5_2_5',
 'AP5_4_01',
 'AP5_4_01_C',
 'AP5_4_02',
 'AP5_4_02_C',
 'AP5_4_03',
 'AP5_4_03_C',
 'AP5_4_04',
 'AP5_4_04_C',
 'AP5_4_05',
 'AP5_4_05_C',
 'AP5_4_06',
 'AP5_4_06_C',
 'AP5_4_07',
 'AP5_4_07_C',
 'AP5_4_08',
 'AP5_4_08_C',
 'AP5_4_09',
 'AP5_4_09_C',
 'AP5_4_10',
 'AP5_4_10_C',
 'AP5_5_01',
 'AP5_5_02',
 'AP5_5_03',
 'AP5_5_04',
 'AP5_5_05',
 'AP5_5_06',
 'AP5_5_07',
 'AP5_5_08',
 'AP5_5_09',
 'AP5_5_10',
 'AP5_6_01',
 'AP5_6_02',
 'AP5_6_03',
 'AP5_6_04',
 'AP5_6_05',
 'AP5_6_06',
 'AP5_6_07',
 'AP5_6_08',
 'AP5_6_09',
 'AP5_6_10',
 'AP5_7_1',
 'AP5_7_2',
 'AP5_7_3',
 'AP5_7_4',
 'AP5_9_01',
 'AP5_9_02',
 'AP5_9_03',
 'AP5_9_04',
 'AP5_9_05',
 'AP5_9_06',
 'AP5_9_07',
 'AP5_9_08',
 'AP5_9_09',
 'AP5_9_10',
 'AP5_9_11',
 'AP5_9_12',
 'AP5_9_13',
 'AP5_9_14',
 'AP5_9_15',
 'AP5_9_99',
 'AREAM',
 'CONTROL',
 'CVE_ENT',
 'CVE_MUN',
 'DOM',
 'DOMINIO',
 'EDAD',
 'EST',
 'ESTRATO',
 'EST_DIS',
 'FAC_ELE_AM',
 'FAC_HOG_AM',
 'ID_HOG',
 'ID_PER',
 'ID_VIV',
 'NOM_ENT',
 'NOM_MUN',
 'SEXO',
 'UPM_DIS',
 'Unnamed: 0']

In [22]:
df_copy.fillna(value=-1, axis=0, inplace=True)

In [23]:
df_copy.replace({' ' : -1}, inplace=True)

In [24]:
df_copy.replace({'\r' : -1}, inplace=True)

In [25]:
df_copy.replace({99 : -1, '99' : -1}, inplace=True)

In [26]:
df_copy.replace({'0\r' : 0,
                '1\r' : 1,
                '2\r' : 2,
                '3\r' : 3,
                '4\r' : 4,
                '5\r' : 5,
                '6\r' : 6,
                '7\r' : 7,
                '8\r' : 8,
                '9\r' : 9}, inplace=True)

In [27]:
df_copy.isnull().any().any()

False

In [28]:
len(pd.isnull(df_copy).any(1).nonzero()[0].tolist())

0

In [29]:
df_copy = df_copy.astype('int64')

ValueError: invalid literal for int() with base 10: 'U'

In [30]:
for line in df_copy.columns.tolist():
    #print(line)
    try:
        df_copy[line] = df_copy[line].astype('int64')
    except:
        print(line)

DOM
DOMINIO
ID_HOG
ID_PER
NOM_ENT
NOM_MUN
RESUL_H

In [31]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

AP4_1  :  [3 1 2 9]

AP4_10_01  :  [1 3 2 9]

AP4_10_02  :  [3 1 2 9]

AP4_10_03  :  [1 2 3 9]

AP4_10_04  :  [3 2 1 9]

AP4_10_05  :  [3 2 1 9]

AP4_10_06  :  [2 1 3 9]

AP4_10_07  :  [3 1 2 9]

AP4_10_08  :  [3 1 2 9]

AP4_10_09  :  [1 2 3 9]

AP4_10_10  :  [2 3 1 9]

AP4_10_11  :  [2 1 3 9]

AP4_10_12  :  [3 1 2 9]

AP4_10_13  :  [3 2 1 9]

AP4_10_14  :  [1 2 3 9]

AP4_10_15  :  [3 1 2 9]

AP4_11_01  :  [2 1 9]

AP4_11_02  :  [2 1 9]

AP4_11_03  :  [2 1 9]

AP4_11_04  :  [2 1 9]

AP4_11_05  :  [2 1 9]

AP4_11_06  :  [2 1 9]

AP4_11_07  :  [2 1 9]

AP4_11_08  :  [2 1 9]

AP4_11_09  :  [2 9 1]

AP4_11_10  :  [2 1 9]

AP4_11_11  :  [2 1 9]

AP4_12  :  [     -1     500     600     350     300 9999999    3000    1000    6000
    8000     100    1500      30    5000   13000   30000      50       0
    2000   12000    2200     450   15000     150    2500    4500   20000
     200    4800     400   10000   50000    7000     700     135    4000
    1200   14000     800   35000     250  100000    2800     900      20
   19000     240   40000    1700      90   18000    8500    1800     180
     650   25000   11800    3500    1600   80000    3200     480     120
    5500    7200    2300    9000    2400   60000   22000  600000      60
      70     390     160    7500     550    6200   36000   23000   16000
    6800    3300    1100     140     280    2040   11000    1400    5200
    6500    3800      80     230   14900    3400    2600   17200    9500
    4200     720      88     130   14800   26000     220    1300   90000
   14500    1900   33000   15200     340     185   12500     155   45000
    2700      75     750     780    9800     999   16700     288   11160
     320     740   47000    5400      40   17000   28000    5600   24000
    5100       9    3600    5800   11500  140000     325    7600     360
  200000      77    1060     165  400000  500000   48000      15    2140
    1840    4100    3960      35    4700  300000    8300   70000    4400
      65    3100    1750    2750   16600    8200     110    4300    4600
  150000    1280       2   24300      45    1550     170    5700    5300
    4850   10500    8550       4    3700     260     315   56000     845
      85     270     560    2180     370      55     380    8600   21000
   13500    9100    6300   18500    3550     420     175   18100     190
     107     960   11600   65000   12600      76      56    2550      25
    3512      18     705    1150    1160    2100    1260    1740   37600
    7400    2160       5   10600    1250     210     820    2050    1050
      49    1450   37000     470    3050   91000    9300    9200    9600
    2640     324   27000   55000   13150    2350     520     840     850
     410    2060     375   15500    3250     620  180000      57    4050
    5090     540      10    7800    5480   11560   12800  120000     920
     115    9911   19800   32000     335    2620    8700    3432     760
     430    3035      47    1180    2720    1540    1650    8900   21500
    6600      23     460   17400    6700     490    1560   92000   22300
   20300    1320    1820    2250    2900  250000   99999    1080     475
    1120    1950    7300    4440     290   66000   20620     870   42000
     580   12680    3610   38000    4557    1360   34000     145   13600
   12750    1030   12400    6900   10800  118000      12   22500    4900
     680   10400       3    1830     525   75000      74    1680     125
    7460   24045    1720    3685    1040   12740    3900     980    2415
   13300     182     127  130000 1000000  170000     970    3360      42
    5900     405    1440    2150       1     195     940    1325     660
    7770     179    4116     630    6750    1880   15600     129    6100
    9750  350000    9370   38400   75800   10200   50500   15400   22400
     440     158      38   12300    1835   20400    1350     214    4150
    2450    1090      22    3130    4620     570    2570     289    3040
   39000  755000   60600  240000   10700      48    1630     775     310
    6680    7250   22800  800000     950    1230   11200   72000    2030
    7148    8800   67000     880   53000   16500     275    1620    1580
    8100      28    2580   11400      26    1850    8350    5955     248
      36    2690   20200     138    2064    3096  220000   10300    3880
    3380   11960    6150    1520   10240    7700   57000   85000   64000
   12200   31000    1999    5150   10150   26400    2520   11300      95
    5240   16750    3150     306    9400     108    8400   29000   68000
    1590     189       6    5628     103    6780  700000    2080    5030
   63000     385    4245    8720    1140    5750    2480     830    4224
   49000    5530    1460    3060   10100     690    1235  110000   11100
     530       8     156   13867   21600   13800    2280    9700  270000
     670    1660   15800   22200    6760    9350      78      84     590
   84000     345   15300   47600     149     308     285    2020      24
     235   80280    3750      87     910     810    4470      58      17
    5760  132000   17500    4080   25500     102   46000    5660    4550
   78000     330     105   80500    6380  160000   44000    1112    3170
    3660     137     215   14200    2430     897     730     121    3820
  115200      82    2650    2980    1240    3240      67   43000   43500
    5350   23500    1020     106     225   45200   24350    3180   41000
  102000  210000    9360   12080   25150      68    6400      94    2560
    6120     255     178  190000    5070   15720      27    2990    4460
   16200   25900  125000     245    3420     286   15250    5250    9999
     239    6630    2260      32      52   95000    7900    2340    1470
   18200    3080  105000      86    6552   18720   12100   27600   17550
   15560    7440    8635     925   14948   65398     425    5450    3120
    1015   28028    7100   10020  186851   14600    1065    7030   10350
      72    1860      89     196   12250    6050   11900   18700      21
    1940   13700    9343   58000    4040   54000     770    3260      16
   16800     860    2840     488    2110   13900       7   11440      14
   13200      13   41200    2360     365    6240   62500   19600    3670
     875   10018    1301    4350      44   27800    1380   10884   23200
      54   24200    1920   62000   35300     384    7020   14700    2460
    6070     640    4025    3280    4701     104    4120     166]

AP4_2_01  :  [1 0]

AP4_2_02  :  [0 1]

AP4_2_03  :  [0 1]

AP4_2_04  :  [1 0]

AP4_2_05  :  [1 0]

AP4_2_06  :  [0 1]

AP4_2_07  :  [0 1]

AP4_2_08  :  [0 1]

AP4_2_09  :  [0 1]

AP4_2_10  :  [0 1]

AP4_2_11  :  [0 1]

AP4_2_12  :  [0 1]

AP4_2_99  :  [0 1]

AP4_3_1  :  [1 2 9]

AP4_3_2  :  [1 9 2]

AP4_3_3  :  [1 9 2]

AP4_4_01  :  [1 2 9 3]

AP4_4_02  :  [3 1 2 9]

AP4_4_03  :  [2 1 3 9]

AP4_4_04  :  [3 2 1 9]

AP4_4_05  :  [2 3 1 9]

AP4_4_06  :  [2 1 3 9]

AP4_4_07  :  [3 2 1 9]

AP4_4_08  :  [3 2 1 9]

AP4_4_09  :  [3 2 1 9]

AP4_4_10  :  [3 2 1 9]

AP4_4_11  :  [2 1 3 9]

AP4_4_12  :  [2 1 3 9]

AP4_5_01  :  [1 0]

AP4_5_02  :  [1 0]

AP4_5_03  :  [1 0]

AP4_5_04  :  [0 1]

AP4_5_05  :  [0 1]

AP4_5_06  :  [0 1]

AP4_5_07  :  [0 1]

AP4_5_08  :  [1 0]

AP4_5_09  :  [0 1]

AP4_5_10  :  [0 1]

AP4_5_11  :  [0 1]

AP4_5_12  :  [0 1]

AP4_5_13  :  [0 1]

AP4_5_14  :  [0 1]

AP4_5_15  :  [0 1]

AP4_5_16  :  [0 1]

AP4_5_99  :  [0 1]

AP4_6_1  :  [9 1 2 3]

AP4_6_2  :  [9 1 2 3]

AP4_6_3  :  [9 1 3 2]

AP4_7_1  :  [2 4 1 3 9]

AP4_7_2  :  [3 4 1 2 9]

AP4_7_3  :  [4 1 9 3 2]

AP4_8_1  :  [2 1 9 3]

AP4_8_2  :  [1 2 9 3]

AP4_8_3  :  [1 2 9 3]

AP4_8_4  :  [1 2 9 3]

AP4_8_5  :  [2 1 9 3]

AP4_8_6  :  [9 1 2 3]

AP4_9_1  :  [-1  2  1  9]

AP4_9_2  :  [ 2 -1  1  9]

AP4_9_3  :  [ 2 -1  1  9]

AP4_9_4  :  [ 2 -1  1  9]

AP4_9_5  :  [-1  2  1  9]

AP4_9_6  :  [-1  2  1  9]

AP5_1_01  :  [1 2 3 9]

AP5_1_02  :  [1 2 3 9]

AP5_1_03  :  [3 2 1 9]

AP5_1_04  :  [3 1 2 9]

AP5_1_05  :  [1 3 2 9]

AP5_1_06  :  [3 2 1 9]

AP5_1_07  :  [3 2 1 9]

AP5_1_08  :  [1 3 2 9]

AP5_1_09  :  [2 1 3 9]

AP5_1_10  :  [1 3 2 9]

AP5_1_11  :  [2 3 1 9]

AP5_1_12  :  [2 3 1 9]

AP5_1_13  :  [2 1 3 9]

AP5_2_1  :  [1 4 2 3 5 9]

AP5_2_2  :  [ 5  1  4  2  3  9 -1]

AP5_2_3  :  [ 1  2  3  5  4  9 -1]

AP5_2_4  :  [ 5  1  4  2  3  9 -1]

AP5_2_5  :  [ 4  3  2  9  1  5 -1]

AP5_3_01  :  [2 1 9 3]

AP5_3_02  :  [1 2 9 3]

AP5_3_03  :  [1 2 9]

AP5_3_04  :  [1 2 9]

AP5_3_05  :  [2 1 9]

AP5_3_06  :  [2 1 9]

AP5_3_07  :  [2 1 9]

AP5_3_08  :  [1 2 9]

AP5_3_09  :  [2 1 9]

AP5_3_10  :  [2 1 9]

AP5_4_01  :  [-1  4  2  3  9  1]

AP5_4_01_C  :  [-1  1  2  4  3  9]

AP5_4_02  :  [ 2  3  4  1 -1  9]

AP5_4_02_C  :  [-1  2  1  3  4  9]

AP5_4_03  :  [ 3  2  9  1  4 -1]

AP5_4_03_C  :  [-1  1  2  3  4  9]

AP5_4_04  :  [ 2  3  1 -1  4  9]

AP5_4_04_C  :  [-1  1  2  3  4  9]

AP5_4_05  :  [-1  3  2  4  9  1]

AP5_4_05_C  :  [-1  3  1  2  9  4]

AP5_4_06  :  [-1  4  2  1  3  9]

AP5_4_06_C  :  [-1  3  1  2  4  9]

AP5_4_07  :  [-1  3  4  2  1  9]

AP5_4_07_C  :  [-1  1  3  2  4  9]

AP5_4_08  :  [ 4  1  2  3 -1  9]

AP5_4_08_C  :  [-1  3  1  2  9  4]

AP5_4_09  :  [-1  1  2  9  4  3]

AP5_4_09_C  :  [-1  1  2  9  4  3]

AP5_4_10  :  [-1  2  3  4  1  9]

AP5_4_10_C  :  [-1  1  4  2  3  9]

AP5_5_01  :  [-1  1  2  9]

AP5_5_02  :  [ 2  1  9 -1]

AP5_5_03  :  [ 1  2  9 -1]

AP5_5_04  :  [ 1  2 -1  9]

AP5_5_05  :  [-1  1  2  9]

AP5_5_06  :  [-1  1  2  9]

AP5_5_07  :  [-1  1  2  9]

AP5_5_08  :  [ 9  1  2 -1]

AP5_5_09  :  [-1  2  1  9]

AP5_5_10  :  [-1  1  2  9]

AP5_6_01  :  [-1  3  2  1  4  9]

AP5_6_02  :  [ 2  3  4  1 -1  9]

AP5_6_03  :  [ 2  3  1  4 -1  9]

AP5_6_04  :  [ 2  3  1 -1  4  9]

AP5_6_05  :  [-1  3  2  4  1  9]

AP5_6_06  :  [-1  3  2  1  4  9]

AP5_6_07  :  [-1  3  2  4  1  9]

AP5_6_08  :  [ 9  2  1  3  4 -1]

AP5_6_09  :  [-1  1  3  2  9  4]

AP5_6_10  :  [-1  3  2  4  1  9]

AP5_7_1  :  [-1  2  1  9]

AP5_7_2  :  [ 1  2 -1  9]

AP5_7_3  :  [ 2  1 -1  9]

AP5_7_4  :  [ 1  9  2 -1]

AP5_8  :  [3 1 2 4 9 5]

AP5_9_01  :  [ 0  1 -1]

AP5_9_02  :  [ 0  1 -1]

AP5_9_03  :  [ 0  1 -1]

AP5_9_04  :  [ 1  0 -1]

AP5_9_05  :  [ 1  0 -1]

AP5_9_06  :  [ 1  0 -1]

AP5_9_07  :  [ 0  1 -1]

AP5_9_08  :  [ 0  1 -1]

AP5_9_09  :  [ 0  1 -1]

AP5_9_10  :  [ 0  1 -1]

AP5_9_11  :  [ 0  1 -1]

AP5_9_12  :  [ 0  1 -1]

AP5_9_13  :  [ 0  1 -1]

AP5_9_14  :  [ 0  1 -1]

AP5_9_15  :  [ 0  1 -1]

AP5_9_99  :  [ 0  1 -1]

AREAM  :  [14 -1 21 40 28 17 33 19  9  1 26  5 13 43  2 16 15 29 27  3 31  4 36 41
  7 24 25 18 10 39 12  8 32  6]

CONTROL  :  [ 100001  100005  100007 ... 3260038 3260039      -1]

CVE_ENT  :  [-1  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32]

CVE_MUN  :  [ -1   1   3   5   6   7  11   2   9   4  10   8  18  25  30  35  17  20
  24  27  28  31  32  33  22  23  37  38  78  89 101  15  19  40  52  57
  59  61  65  69  74  75  86 106 108  13  29  34  46  66  68  71  79  81
  83  85  87 102 105 107 111  93  96  97 112  21  41  47  48  49  51  55
  67  76  80  82  92  94 103 109 114 115  53  36  50  45  12  54  14  16
  39  42  56  73  62  64  72  77  63  58  70  26  44  60  84  98 120 119
 121 125 100 124 104 122  43  91 110 118 113  88  95 184 385 390 397 399
 413 482 515 131 141 150 153 157 185 188 198 227 248 293 295 324 350 367
 375 398 401 409 418 441 469 472 475 525 551 553 557 134 526 167 190 201
 207 225 234 253 278 309 310 318 334 344 364 378 406 439 446 454 459 491
 559 140 226 237 247 265 330 349 356 359 386 485 506 156 132 142 154 164
 174 197 208  90 117 136 137 143 144 161 177 186 205 170 129 160 172 179
 192 206 213 126 139 193 123 138 155 183 189 133 135 148 149 169 175 176
 182 191 194 199 209 128 168 173 178 181 187 202 210 163]

DOM  :  ['U' 'C' 'R' -1]

DOMINIO  :  [-1 'U' 'C' 'R' 'U\r' 'C\r' 'R\r']

EDAD  :  [-1 40 70 85 28 22 34 24 33 25 47 62 44 23 56 74 53 65 46 29 73 37 21 39
 31 18 49 26 27 66 81 69 42 45 57 55 35 88 38 48 52 77 59 50 67 32 30 80
 63 72 51 76 61 75 68 36 19 98 83 41 43 78 64 79 60 58 20 71 54 86 89 97
 92 90 84 91 82 87 93 94 96 95]

EST  :  [  5   4   6   1   2   3   7   9  12  14  13  11   8  10  16  20  17  19
  18  15  22  23  21  28  25  30  26  29  27  24  35  36  37  32  31  34
  33  38  43  41  42  40  39  46  45  44  47  49  51  50  48  58  57  56
  55  53  54  52  61  60  62  59  67  69  68  64  65  63  66  76  75  77
  73  72  74  70  71  78  80  79  82  81  83  84  87  88  89  86  90  85
  93  94  96  97  91  92  95  98 104 105 106 103 100  -1 102 101 111 109
 108 110 113 114 107 115 112 121 117 120 119 116 118 122 123 126 125 124
 128 129 127 135 136 137 134 130 131 133 132 140 143 141 138 139 144 142
 145 148 149 147 151 146 152 150 153 157 155 154 159 158 156 160 165 166
 164 162 161 167 163 171 174 169 173 170 168 172 175 183 181 176 182 178
 179 177 180 191 189 190 186 188 184 185 187 193 192 195 194 196 197 198
 199 205 206 207 204 200 201 203 202 212 209 214 213 208 211 210 218 216
 221 222 217 215 219 220 223 225 224 226 227 229 230 231 228 236 233 234
 232 237 235 238]

ESTRATO  :  [-1  3  4  2  1]

EST_DIS  :  [ -1   5   6   4   1   2   3  13  14  12  11   7   8   9  10  23  22  21
  17  16  18  15  19  20  30  29  28  27  25  24  26  35  36  37  32  31
  34  33  42  43  41  38  40  39  49  50  48  51  45  44  46  47  56  57
  58  53  52  55  54  60  61  62  59  68  67  69  66  63  65  64  76  75
  77  74  70  71  73  72  83  82  81  84  78  79  80  88  89  90  85  86
  87  97  98  96  95  91  92  94  93 104 103 105 106 100 102 101 114 113
 115 112 108 109 107 111 110 120 121 122 117 116 119 118 128 127 129 123
 124 126 125 135 136 137 134 130 131 133 132 144 143 145 142 139 138 140
 141 152 151 153 150 147 146 148 149 159 160 158 155 154 157 156 165 166
 167 164 161 162 163 173 174 175 169 170 168 171 172 183 182 181 180 176
 177 179 178 190 189 191 188 185 184 187 186 197 198 199 193 194 192 195
 196 205 206 204 207 200 201 203 202 213 212 209 214 208 211 210 221 222
 223 216 217 215 220 218 219 231 230 229 228 225 224 226 227 237 236 238
 232 233 234 235 239 240 242 241 244 243 246 245 247 248 254 255 253 256
 249 251 260 250 257 258 263 262 252 261 259 264 265 268 267 269 266 271
 272 274 275 280 278 276 277 279 281 282 283 284 285 270 273 287 286 297
 298 289 290 288 300 291 293 292 304 302 299 303 301 295 296 294 306 305
 307 308 309 312 313 310 311 314 315 317 316 320 319 321 318 328 327 326
 322 324 323 329 330 331 332 325 334 333 337 336 335 344 346 345 339 340
 338 348 349 347 350 341 342 343 351 352 355 354 356 353 363 364 366 357
 358 365 359 360 367 368 369 370 361 362 371 372 374 375 373 382 381 383
 378 377 376 384 385 386 379 380 387 389 388 396 397 398 392 391 393 390
 400 399 402 401 403 404 406 405 394 395 408 407 412 413 410 409 411 416
 415 414 418 419 417 421 420 431 430 429 423 424 425 422 427 426 428 434
 433 432 435 436 437 439 438 445 444 446 453 452 454 441 440 442 443 455
 457 456 448 447 449 451 450 459 458 461 460 462 463 465 464 466 467 468
 470 471 472 473 475 476 477 474 469 479 478 481 482 483 480 492 494 493
 491 495 496 497 488 489 490 487 500 501 499 498 486 484 485 502 503 504
 505 506 507 508 510 509 517 516 511 513 512 520 519 518 514 515 522 521
 523 524 525 540 539 541 549 550 530 529 531 553 554 534 535 543 544 545
 559 532 537 536 542 547 546 560 555 561 551 556 557 526 565 552 563 564
 527 528 538 562 533 558 548 566 567 571 570 569 568 578 574 573 572 577
 575 579 582 580 581 576 583 584 589 588 587 586 585 590 591 592 593 594
 595 596 598 597]

FAC_ELE  :  [ 382  764  573 ... 4699 4222 3641]

FAC_ELE_AM  :  [ 384  768  576 ... 5513 2497 3669]

FAC_HOG  :  [ 191  179  173 ...  965  986 1180]

FAC_HOG_AM  :  [ 192  179  172 ... 1049  932  684]

HOGAR  :  [1 2 3 4 5 6]

ID_HOG  :  [-1 '0100006.01.01\r' '0100006.02.01\r' ... '3260801.18.01\r'
 '3260801.19.01\r' '3260801.20.01\r']

ID_PER  :  [-1 '0100006.01.01.01' '0100006.02.01.02' ... '3260801.18.01.01\r'
 '3260801.19.01.01\r' '3260801.20.01.01\r']

ID_VIV  :  [     -1  100006  100008 ... 3260709 3260774 3260801]

NOM_ENT  :  [-1 'Aguascalientes\r' 'Baja California\r' 'Baja California Sur\r'
 'Campeche\r' 'Coahuila de Zaragoza\r' 'Colima\r' 'Chiapas\r'
 'Chihuahua\r' 'Ciudad de MÃ\x83Â©xico\r' 'Durango\r' 'Guanajuato\r'
 'Guerrero\r' 'Hidalgo\r' 'Jalisco\r' 'MÃ\x83Â©xico\r'
 'MichoacÃ\x83Â¡n de Ocampo\r' 'Morelos\r' 'Nayarit\r'
 'Nuevo LeÃ\x83Â³n\r' 'Oaxaca\r' 'Puebla\r' 'QuerÃ\x83Â©taro\r'
 'Quintana Roo\r' 'San Luis PotosÃ\x83Â\xad\r' 'Sinaloa\r' 'Sonora\r'
 'Tabasco\r' 'Tamaulipas\r' 'Tlaxcala\r'
 'Veracruz de Ignacio de la Llave\r' 'YucatÃ\x83Â¡n\r' 'Zacatecas\r']

NOM_MUN  :  [-1 'Aguascalientes\r' 'Calvillo\r' ... 'Villa GarcÃ\x83Â\xada\r'
 'Huanusco\r' 'Santa MarÃ\x83Â\xada de la Paz\r']

RESUL_H  :  ['B' 'A' 'B\r' 'A\r']

R_SEL  :  [ 1  2  3  4  5  8  6  7 10  9 11 12 14 18 13 19 16 15]

SEXO  :  [-1  1  2]

UPM  :  [      1       2       3 ... 3260709 3260774 3260801]

UPM_DIS  :  [   -1     1     2 ... 13206 13207 13208]

Unnamed: 0  :  [    0     1     2 ... 84626 84627 84628]

VIV_SEL  :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 19 20 18 21 22 23 24
 25 26 28 29 30 32 33 35 36 37 38 27 39 40 34 31 41 42 43 44 45 46]

year  :  [2014 2015 2016 2017]

In [33]:
df_copy.to_csv('../dataframes/seguridad_publica.csv')